@media(max-width: 1600px)
  .container
    padding: 0 80px

  .title-xs
    font-size: 14px
  .title-sm
    font-size: 16px
  .title-md
    font-size: 22px
  .title-lg
    font-size: 30px
  .title-xl
    font-size: 45px
  .text
    font-size: 14px

  .btn
    padding: 20px 25px
    font-size: 13px
    &-icon:hover
      padding: 20px
      &::after
        margin-left: 25px
