@media (max-width: 576px)
  .container
    padding: 0 15px

  .isPC
    display: none !important

  .title-lg
    font-size: 26px

  .list li br
    display: none

  .popup-layout
    padding: 80px 20px 20px

  .modal
    max-width: initial
    width: calc(100% + 30px)
    left: -15px
    right: -15px
    &-politic
      width: calc(100% + 30px)
      left: -15px
      right: -15px
