@media (max-width: 576px)
  .container
    padding: 0 15px

  .isPC
    display: none !important

  .title-lg
    font-size: 26px

  .list li br
    display: none

  .popup-layout
    padding: 80px 20px 20px

  .modal
    left: 0px
    right: 0
    max-width: 100%
    padding: 15px
    h3
      max-width: 280px
      margin-bottom: 15px
    &-item
      height: 100%
      right: -120px
