{% set site_title = site_title | default('Title') %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="language" content="Russian">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="./css/libs.css?cb">
    <link rel="stylesheet" href="./css/main.css?cb">
  </head>
  <body>

    <!-- Marquiz script start -->
    <script>
    (function(w, d, s, o){
      var j = d.createElement(s); j.async = true; j.src = '//script.marquiz.ru/v2.js';j.onload = function() {
        if (document.readyState !== 'loading') Marquiz.init(o);
        else document.addEventListener("DOMContentLoaded", function() {
          Marquiz.init(o);
        });
      };
      d.head.insertBefore(j, d.head.firstElementChild);
    })(window, document, 'script', {
        host: '//quiz.marquiz.ru',
        region: 'eu',
        id: '63ba6f0b1db914004fcdc0f3',
        autoOpen: false,
        autoOpenFreq: 'once',
        openOnExit: false,
        disableOnMobile: false
      }
    );
    </script>
    <!-- Marquiz script end -->

    {% include "components/header.html" %}

    <div class="wrapper{% if home === false %} wrapper-padding{% endif %}">
      <div>
        {% block content %}{% endblock %}
        {% include "components/footer.html" %}
      </div>
    </div>

    {% include "components/popup.html" %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./js/libs.js?cb"></script>
    <script src="./js/main.js?cb"></script>
  </body>
</html>