<section class="company-brands">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Наши решения применяют</h4></div>
    <div class="col">
      <div class="company-control control">
        <div class="control-arrow company-arrow-prev"></div>
        <div class="control-arrow company-arrow-next"></div>
      </div>
    </div>
    <div class="col-fluid">
      <div class="company-brands__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/1.svg" alt=""><img src="img/clients/1-color.svg" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/2.svg" alt=""><img src="img/clients/2-color.svg" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/3.svg" alt=""><img src="img/clients/3-color.svg" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/4.svg" alt=""><img src="img/clients/4-color.png" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/5.svg" alt=""><img src="img/clients/5-color.svg" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/6.svg" alt=""><img src="img/clients/6-color.svg" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/7.svg" alt=""><img src="img/clients/7-color.svg" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/8.svg" alt=""><img src="img/clients/8-color.svg" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/9.svg" alt=""><img src="img/clients/9-color.svg" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/10.svg" alt=""><img src="img/clients/10-color.svg" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/11.svg" alt=""><img src="img/clients/11-color.svg" alt=""></div>
          </div>
          <div class="swiper-slide">
            <div class="clients-logo"><img src="img/clients/12.svg" alt=""><img src="img/clients/12-color.svg" alt=""></div>
          </div>
        </div>
        <div class="company-brands__progressbar"></div>
      </div>
    </div>
  </div>
</section>