<section class="company-sertificate">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Сертификаты</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg" data-animate-title>Имеем все допуски, включая особо опасные объекты</h2>
        <div class="text-lg" data-aos="fade-up">Регулярно проходим сертификацию и лицензирование</div>
      </div>
    </div>
    <div class="col-fluid row">
      <div class="company-sertificate__item">
        <div class="company-sertificate__info">
          <h3>Выписка проектирование</h3>
          <h4>Подпись</h4>
          <a href="javascript:;" data-open-popup="popup-sertificate" data-file="url-file" class="company-sertificate__btn"><p>Скачать</p><span>[PDF]</span></a>
        </div>
        <div class="company-sertificate__image"><img src="img/company-sertificate.png" alt=""></div>
      </div>
      <div class="company-sertificate__item">
        <div class="company-sertificate__info">
          <h3>Выписка строительство</h3>
          <h4>Подпись</h4>
          <a href="javascript:;" data-open-popup="popup-sertificate" data-file="url-file" class="company-sertificate__btn"><p>Скачать</p><span>[PDF]</span></a>
        </div>
        <div class="company-sertificate__image"><img src="img/company-sertificate.png" alt=""></div>
      </div>
      <div class="company-sertificate__item">
        <div class="company-sertificate__info">
          <h3>Выписка изыскания</h3>
          <h4>Подпись</h4>
          <a href="javascript:;" data-open-popup="popup-sertificate" data-file="url-file" class="company-sertificate__btn"><p>Скачать</p><span>[PDF]</span></a>
        </div>
        <div class="company-sertificate__image"><img src="img/company-sertificate.png" alt=""></div>
      </div>
    </div>
  </div>
</section>

<div class="popup" data-popup="popup-sertificate">
  <div class="popup-bg"></div>
  <div class="popup-layout">
    <div class="popup-close"></div>
    <div class="popup-top">
      <h3 class="title-lg">Скачать выписку</h3>
      <h4 class="text-lg">Укажите Ваши данные и мы вышлем необходимую выписку</h4>
    </div>
    <div class="popup-middle">
      <form action="#" class="form form-black">
        <label class="label">
          <p>Ваше имя</p>
          <input type="text" class="input" placeholder="Александр" />
        </label>
        <label class="label">
          <p>E-mail</p>
          <input type="email" class="input" placeholder="info@geongroup.ru" />
        </label>
        <input type="hidden" name="urlfile" />
        <div class="btn-wrap">
          <button class="btn btn-fluid btn-fill btn-download"><p>Скачать</p><span><i>[PDF]</i></span></button>
        </div>
        <label class="checkbox">
          <input type="checkbox" checked required>
          <p>Согласие с <a href="/policy">политикой обработки данных</a></p>
        </label>
      </form>
    </div>
    <div class="popup-bottom">© 2023 Группа компаний ГЕОН. Все права сайта защищены</div>
  </div>
</div>