<section class="company-map">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">География</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg" data-animate-title>Регионы, которые стали чище благодаря нам</h2>
        <div class="text-lg" data-aos="fade-up">Мы работаем на всей территории Российской Федерации и СНГ</div>
      </div>
    </div>
    <div class="col-fluid">
      <div class="company-map__svg"><img src="img/svg/map.svg" alt=""></div>
    </div>
  </div>
</section>