<section class="consult">
  <div class="container row">
    <div class="col">
      <div class="consult-man">
        <div class="consult-man__img"><img src="img/man.jpg" alt=""></div>
        <div class="consult-man__desc">
          <div class="text-lg">Александр Келлерман</div>
          <div class="text-sm">Коммерческий директор</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="consult-content">
        <div class="text-lg" data-aos="fade-up">Не можете определиться?</div>
        <h2 class="title-xl" data-animate-title>Бесплатно проконсультируем по телефону и подберем оборудование</h2>
        <form action="#" class="form"  data-aos="fade-up">
          <label class="label">
            <p>Ваше имя</p>
            <input type="text" class="input" placeholder="Александр" />
          </label>
          <label class="label">
            <p>Телефон</p>
            <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
          </label>
          <button class="btn btn-fluid btn-white btn-icon"><p>Позвонить</p></button>
          <label class="checkbox checkbox-white checkbox-margin">
            <input type="checkbox" checked required>
            <p>Согласие с <a href="#">политикой обработки данных</a></p>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>