<footer class="footer">
  <div class="container row">
    <div class="footer-second">
      <div class="footer-company">
        <img src="img/svg/logo-white.svg" alt="">
        <div class="footer-company__desc">Проектирование и строительство очистных сооружений сточных вод по&nbsp;всей России и СНГ</div>
      </div>
      <div class="footer-social">
        <p>Написать нам</p>
        <ul class="footer-social__links">
          <li><a href="#">
            <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
              <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
              <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
            </svg>
            <img src="img/svg/viber.svg" alt="">
          </a></li>
          <li><a href="#">
            <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
              <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
              <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
            </svg>
            <img src="img/svg/whatsapp.svg" alt="">
          </a></li>
          <li><a href="#">
            <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
              <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
              <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
            </svg>
            <img src="img/svg/telegram.svg" alt="">
          </a></li>
        </ul>
      </div>
    </div>
    <div class="footer-main">
      <div class="footer-row">
        <div class="footer-col">
          <ul class="footer-nav">
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Аудит</a></li>
            <li><a href="#">Проектирование</a></li>
            <li><a href="#">Строительство</a></li>
            <li><a href="#">Пусконаладка</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <ul class="footer-nav">
            <li><a href="#">О компании</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Проекты</a></li>
            <li><a href="#">Работа в ГЕОН</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <ul class="footer-nav">
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Станции биологической очистки</a></li>
            <li><a href="#">Ливневые очистные сооружения</a></li>
            <li><a href="#">Канализационные насосные станции</a></li>
            <li><a href="#">Ёмкостное оборудование</a></li>
          </ul>
          <ul class="footer-nav hide">
            <li><a href="#">Сотрудничество</a></li>
            <li><a href="#">Развитие продуктов</a></li>
            <li><a href="#">Развитие технологии</a></li>
            <li><a href="#">Развитие технологии</a></li>
            <li><a href="#">Ёмкостное оборудование</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-row">
        <div class="footer-col">
          <div class="footer-contact">
            <small>E-mail</small>
            <p><a href="mailto:info@geongroup.ru">info@geongroup.ru</a></p>
          </div>
        </div>
        <div class="footer-col">
          <div class="footer-contact">
            <small>Телефон</small>
            <p><a href="tel:8 (800) 500 21 74">8 (800) 500 21 74</a></p>
          </div>
        </div>
        <div class="footer-col">
          <div class="footer-contact">
            <small>Работаем</small>
            <p>ПН-ПТ с 8:00 до 17:00</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-copyright">© 2022 Группа компаний ГЕОН. Все права сайта защищены</div>
      <ul class="footer-bottom__nav">
        <li><a href="#">Политика конфиденциальности</a></li>
        <li><a href="#">Политика использования Cookies</a></li>
      </ul>
    </div>
  </div>
</footer>