<section class="free" data-aos="fade-up" data-aos-offset="120">
  <div class="container">
    <div class="free-block">
      <div class="free-content">
        <h2 class="title-xl">Бесплатно скачайте каталог наших решений</h2>
        <div class="text-lg">В каталоге более подробно представлен перечень нашего оборудования, а так же информация о компании</div>
        <form action="#" class="form">
          <label class="label">
            <p>Ваше имя</p>
            <input type="text" class="input" placeholder="Александр" />
          </label>
          <label class="label">
            <p>Телефон</p>
            <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
          </label>
          <button class="btn btn-fill btn-download"><p>Скачать</p><span>2.5 МБ <i>[PDF]</i></span></button>
          <label class="checkbox checkbox-white checkbox-margin">
            <input type="checkbox" checked required>
            <p>Согласие с <a href="#">политикой обработки данных</a></p>
          </label>
        </form>
      </div>
      <img src="img/free-book.png" class="free-book" alt="">
    </div>
  </div>
</section>