<header class="header {% if home %} header-home header-clear{% endif %}">
  <div class="container">
    <div class="header-logo">
      <a href="/" class="header-logo__pic"></a>
      <div class="header-logo__desc">Проектирование и строительство очистных сооружений сточных вод по всей России и СНГ</div>
    </div>
    <ul class="header-nav">
      <li><a href="#" class="js-hover-link">О компании</a></li>
      <li><a href="#" class="js-hover-link">Каталог</a></li>
      <li><a href="#" class="js-hover-link">Услуги</a></li>
      <li><a href="#" class="js-hover-link">Проекты</a></li>
      <li><a href="#" class="js-hover-link">Контакты</a></li>
    </ul>
    <ul class="header-social">
      <li><a href="#">
        <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
          <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
          <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
        </svg>
        <img src="img/svg/viber.svg" alt="">
      </a></li>
      <li><a href="#">
        <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
          <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
          <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
        </svg>
        <img src="img/svg/whatsapp.svg" alt="">
      </a></li>
      <li><a href="#">
        <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
          <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
          <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
        </svg>
        <img src="img/svg/telegram.svg" alt="">
      </a></li>
    </ul>
    <div class="header-contact">
      <a href="tel:8 (800) 500-21-74" class="header-contact__phone">8 (800) 500-21-74</a>
      <a href="#" class="header-contact__chat">Онлайн-чат</a>
    </div>
    <a href="#" class="header-tender">Пригласить на тендер</a>
    <div class="header-burger">
      <div class="header-burger__icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>