<header class="header {% if home %} header-home header-clear{% endif %}">
  <div class="container">
    <div class="header-logo">
      <a href="/" class="header-logo__pic"></a>
      <div class="header-logo__desc">Проектирование и строительство очистных сооружений сточных вод по всей России и СНГ</div>
    </div>
    <ul class="header-nav">
      <li><a href="#" class="js-hover-link">О компании</a></li>
      <li><a href="#" class="js-hover-link">Каталог</a></li>
      <li><a href="#" class="js-hover-link">Услуги</a></li>
      <li><a href="#" class="js-hover-link">Проекты</a></li>
      <li><a href="#" class="js-hover-link">Контакты</a></li>
    </ul>
    <ul class="header-social">
      <li><a href="#">
        <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
          <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
          <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
        </svg>
        <img src="img/svg/viber.svg" alt="">
      </a></li>
      <li><a href="#">
        <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
          <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
          <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
        </svg>
        <img src="img/svg/whatsapp.svg" alt="">
      </a></li>
      <li><a href="#">
        <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
          <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
          <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
        </svg>
        <img src="img/svg/telegram.svg" alt="">
      </a></li>
    </ul>
    <div class="header-contact">
      <a href="tel:8 (800) 500-21-74" class="header-contact__phone">8 (800) 500-21-74</a>
      <a href="#" class="header-contact__chat">Онлайн-чат</a>
    </div>
    <a href="#" class="header-tender">Пригласить на тендер</a>
    <div class="header-burger">
      <div class="header-burger__icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="header-opened">
    <div class="header-opened__bg">
      <div class="header-opened__blue"></div>
    </div>
    <div class="header-opened__wrap">
      <div class="container row rtl">
        <div class="col">
          <div class="header-opened__content">
            <div class="header-opened__contact">
              <small>E-mail</small>
              <p><a href="mailto:info@geongroup.ru">info@geongroup.ru</a></p>
            </div>
            <div class="header-opened__contact">
              <small>Телефон</small>
              <p><a href="tel:8 (800) 500 21 74">8 (800) 500 21 74</a></p>
            </div>
            <div class="header-opened__contact">
              <small>Работаем</small>
              <p>ПН-ПТ с 8:00 до 17:00</p>
            </div>
          </div>
          <div class="header-opened__content">
            <ul class="header-opened__links">
              <li><a href="#">Новости</a></li>
              <li><a href="#">Работа в ГЕОН</a></li>
              <li><a href="#">Политика конфиденциальности</a></li>
            </ul>
          </div>
          <div class="header-opened__content mob">
            <div class="header-opened__copy">© 2022 Группа компаний ГЕОН. Все права сайта защищены</div>
          </div>
        </div>
        <div class="col">
          <div class="header-opened__content">
            <ul class="header-opened__nav">
              <li><a href="#" class="js-hover-link active">Главная</a></li>
              <li><a href="#" class="js-hover-link">О компании</a></li>
              <li><a href="#" class="js-hover-link">Каталог</a></li>
              <li><a href="#" class="js-hover-link">Услуги</a></li>
              <li><a href="#" class="js-hover-link">Проекты</a></li>
              <li><a href="#" class="js-hover-link">Контакты</a></li>
            </ul>
            <div class="header-opened__copy">© 2022 Группа компаний ГЕОН. Все права сайта защищены</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>