<div class="news-item">
  <div class="news-item__pic"><img src="img/news.jpg" alt=""></div>
  <p class="text-lg">17:06 19.01.2023</p>
  <h4 class="news-item__title"><span>Специализируемся на изготовлении нестандартного оборудования</span></h4>
  <p class="text-lg">Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает.</p>
  <a href="#" class="news-item__link">Читать полностью</a>
</div>