<section class="services-survey">
  <div class="container">
    <div class="services-survey__block">
      <h2 class="title-xl">Закажите предпроектное обследование и в течение недели вы получите</h2>
      <ul class="services-survey__list">
        <li>
          <img src="img/svg/survey-1.svg" alt="">
          <p>Перечень и стоимость необходимого оборудования</p>
        </li>
        <li>
          <img src="img/svg/survey-2.svg" alt="">
          <p>Готовую технологию очистки</p>
        </li>
        <li>
          <img src="img/svg/survey-3.svg" alt="">
          <p>Посадку оборудования на план</p>
        </li>
        <li>
          <img src="img/svg/survey-4.svg" alt="">
          <p>ТЗ на проектирование</p>
        </li>
        <li>
          <img src="img/svg/survey-4.svg" alt="">
          <p>Точные сроки всего проекта</p>
        </li>
      </ul>
      <div class="btn-wrap"><a href="#" class="btn btn-white btn-fluid btn-icon"><p>Заказать</p></a></div>
    </div>
    <img src="img/services-survey.png" alt="" class="services-survey__img">
  </div>
</section>