.projects
  &-slider
    margin-top: 30px
    position: relative
    overflow: hidden
  &-control
    position: absolute
    bottom: 50px
    left: 50px
    z-index: 10
  &-increment
    color: rgba(255,255,255,.8)
    .swiper-pagination-current
      color: #fff
  &-item
    position: relative
    height: 800px
    overflow: hidden
    background: rgba(0,0,0,.2)
    color: #fff
    padding: 75px 50px
    &__img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
      z-index: -1
      transition: .8s
    &__title
      font-size: 130px
      line-height: 1.15
      max-width: 900px
      @include flexbox
      flex-direction: column
      align-items: flex-start
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
      span
        position: relative
        &::after
          content: ''
          position: absolute
          bottom: -6px
          left: 0
          right: 0
          width: 0%
          height: 3px
          background: #fff
          transition: .3s
    &__desc
      margin-top: 30px
      max-width: 500px
    &:hover
      .projects-item__img
        transform: scale(1.05)
      .projects-item__title span::after
        width: 100%
  &-all
    padding-top: 85px
  &-list
    .projects-item
      margin-top: 45px
    + .btn-wrap
      padding: 40px 0

@media(max-width: 1600px)
  .projects-item
    padding: 50px 60px
    height: 640px
  .projects-item__title
    font-size: 100px
  .projects-item__desc
    margin-top: 25px
    max-width: 460px
  .projects-control
    left: 60px
    bottom: 60px

@media(max-width: 1300px)
  .projects-item
    padding: 50px
    height: 610px
  .projects-control
    left: 50px
    bottom: 50px

@media(max-width: 960px)
  .project-item
    padding: 30px
  .projects-control
    left: 30px
    bottom: 30px
  .projects-item__title
    font-size: 70px

@media(max-width: 1023px)
  .projects-slider
    margin-top: 0

  .projects-all
    padding-top: 45px

@media(max-width: 610px)
  .projects-item
    padding: 20px
  .projects-control
    left: 20px
    bottom: 20px
    right: 20px
    justify-content: space-between
  .projects-item__title
    font-size: 50px

@media(max-width: 424px)
  .projects-item__title
    font-size: 46px
