{% extends 'components/_layout.html' %}
{% set site_title = '404' %}
{% set home = true %}

{% block content %}

<section class="onepage">
  <div class="container row row-stretch">
    <div class="col">
      <div class="onepage-sidebar">
        <div class="onepage-sidebar__text onepage-sidebar__404">
          <h2>Кажется<br> что-то пошло не так!</h2>
          <h3>Страница, которую вы<br> запрашиваете, не существует</h3>
        </div>
        <a href="/" class="btn btn-white btn-icon"><p>Вернуться на главную</p></a>
      </div>
    </div>
    <div class="col">
      <div class="onepage-title">
        <div class="onepage-title__center onepage-title__404">
          <span>404</span>
          <span>404</span>
          <span>404</span>
          <span>404</span>
          <span>404</span>
          <span>404</span>
          <span>404</span>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}