{% extends 'components/_layout.html' %}
{% set site_title = '404' %}
{% set home = true %}
{% set onepage = true %}

{% block content %}

<section class="onepage">
  <div class="container row row-stretch">
    <div class="col">
      <div class="onepage-sidebar">
        <div class="onepage-sidebar__text onepage-sidebar__404">
          <h2 data-animate-title>Кажется<br> что-то пошло не так!</h2>
          <h3 data-aos="fade-up">Страница, которую вы<br> запрашиваете, не существует</h3>
        </div>
        <span data-aos="fade-up" data-aos-delay="400"><a href="/" class="btn btn-white btn-icon"><p>Вернуться на главную</p></a></span>
      </div>
    </div>
    <div class="col">
      <div class="onepage-title">
        <div class="onepage-title__center onepage-title__404">
          <span>404</span>
          <span>404</span>
          <span>404</span>
          <span>404</span>
          <span>404</span>
          <span>404</span>
          <span>404</span>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}