{% extends 'components/_layout.html' %}
{% set site_title = 'Каталог' %}
{% set home = true %}
{% set onepage = false %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="catalog-header">
  <div class="container side row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-fluid">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">Наши решения</a></li><li><a href="#">ЛОС</a></li>
      </ul>
      <h1 class="title-xl">Ливневые очистные сооружения</h1>
    </div>
  </div>
</section>

<section class="catalog">
  <div class="container">
    <div class="catalog-top row">
      <div class="catalog-sort">
        <b>Сортировать:</b>
        <p><span>по возрастанию цены <i></i></span><span>по убыванию цены <i></i></span></p>
      </div>
      <div class="catalog-grid__switch">
        <p class="text-lg">Вид</p>
        <ul>
          <li class="active" data-grid="two">2</li>
          <li data-grid="three">3</li>
        </ul>
      </div>
    </div>
    <div class="catalog-grid two">
      <div class="catalog-item" data-price="100000" data-aos="fade-up">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>от <span class="catalog-item__price"></span> ₽</p>
        </div>
      </div>
      <div class="catalog-item" data-price="100000" data-aos="fade-up">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>от <span class="catalog-item__price"></span> ₽</p>
        </div>
      </div>
      <div class="catalog-item" data-price="100000" data-aos="fade-up">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>от <span class="catalog-item__price"></span> ₽</p>
        </div>
      </div>
      <div class="catalog-item" data-price="100000" data-aos="fade-up">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>от <span class="catalog-item__price"></span> ₽</p>
        </div>
      </div>
      <div class="catalog-item" data-price="100000" data-aos="fade-up">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>от <span class="catalog-item__price"></span> ₽</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="catalog-section unset">
  <div class="container row">
    <div class="col">
      <div class="catalog-section__title">
        <h2 class="title-lg">Оборудование для очистки ливневых и талых сточных вод</h2>
        <div class="btn-wrap"><a href="javascript:;" class="btn btn-white btn-up"><p>Наверх</p></a></div>
      </div>
    </div>
    <div class="col">
      <div class="catalog-section__content">
        <p>Ливневые очистные сооружения - используются для очистки талых и дождевых вод. Существуют нормативы, согласно которым перед сбросом воды в водоемы или канализацию необходимо достичь установленных показателей и удалить из состава жидкости нефтепродукты, твердые и взвешенные вещества.</p>
        <p>Исходя из этого, все ливневые локальные очистные установки применяются для задержки нерастворимых фракций (песка, мусора, веток) и различных производных нефти (битумы, масла, бензины).</p>
        <p>Использование ливневых очистных сооружений позволяет снизить количество вредных веществ в воде. При этом подбор оборудования осуществляется с учетом концентрации загрязняющих веществ в ней, уровня залегания труб, требуемой производительности и степени очистки стоков.</p>
      </div>
      <div class="catalog-table catalog-table__los1">
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Показатель</span>
          </div>
          <div class="catalog-table__col catalog-table__three">
            <span>Категория водного объекта рыбохозяйственного назначения</span>
            <span>Высшая и первая</span>
            <span>Вторая</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Взвешенные вещества</span>
          </div>
          <div class="catalog-table__col catalog-table__three">
            <span>Не должно увеличиваться более чем на:</span>
            <span>0,25 мг/л</span>
            <span>0,75 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Плавающие примеси</span>
          </div>
          <div class="catalog-table__col">
            <span>Не должны обнаруживаться</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Температура</span>
          </div>
          <div class="catalog-table__col">
            <span>Не должна повышаться более чем на 5С</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Водородный показатель (рН)</span>
          </div>
          <div class="catalog-table__col">
            <span>Должен соответствовать фоновому значению (6,0-9,0)</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Растворенный кислород</span>
          </div>
          <div class="catalog-table__col">
            <span>Не должно опускаться ниже 6 мг/дм3</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>БПК5</span>
          </div>
          <div class="catalog-table__col catalog-table__three">
            <span>Не должно превышать:</span>
            <span>2,1 мг/л</span>
            <span>2,1 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>БПКполн</span>
          </div>
          <div class="catalog-table__col catalog-table__three">
            <span>Не должно превышать:</span>
            <span>3 мг/л</span>
            <span>3 мг/л</span>
          </div>
        </div>

        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Токсичность воды</span>
          </div>
          <div class="catalog-table__col">
            <span>Не должна оказывать острого токсического действия</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>ХПК</span>
          </div>
          <div class="catalog-table__col">
            <span>30 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Общий азот</span>
          </div>
          <div class="catalog-table__col">
            <span>50 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Азот аммонийный</span>
          </div>
          <div class="catalog-table__col">
            <span>0,4 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Фосфор фосфатов</span>
          </div>
          <div class="catalog-table__col">
            <span>0,1 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Нитраты</span>
          </div>
          <div class="catalog-table__col">
            <span>9 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Железо</span>
          </div>
          <div class="catalog-table__col">
            <span>0,1 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Сульфаты</span>
          </div>
          <div class="catalog-table__col">
            <span>100 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Хлориды</span>
          </div>
          <div class="catalog-table__col">
            <span>300 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Нитриты</span>
          </div>
          <div class="catalog-table__col">
            <span>0,2 мг/л</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Нефтепродукты</span>
          </div>
          <div class="catalog-table__col">
            <span>0,05 мг/л</span>
          </div>
        </div>
      </div>
      <div class="catalog-section__content">
        <p>Проектирование системы очистки талых и дождевых вод, а также подбор специального оборудования должны осуществляться с учетом ряда факторов. Основные данные для расчета ливневых очистных сооружений – это наименование с местоположением объекта и площади водосбора. Так же важным критерием от которого будет зависеть стоимость оборудования в том числе, это глубина заложения подводящего коллектора к очистным сооружениям. В зависимости от типа и площади водосбора стоков, возможны сооружения с усреднением (накоплением) стока или проточный тип сооружений, а также размещение оборудования подземное, наземное или комбинированное.</p>
        <p>По материалу и конструкции исполнения ливневые очистные сооружения могут быть разделены на следующие разновидности:</p>
        <p>Спиральновитый ПНД с армированием Ω (омега) профилем – корпус выполнен из спиральновитого полиэтиленового профиля с дополнительным армированием стальным оцинкованным профилем специальной формы.</p>
        <p>Блок-контейнер – здание состоит из одного и более составных утепленных модулей, оснащается системами отопления, приточно-вытяжной вентиляцией и освещением.</p>
        <p>Стеклопластиковые – корпус выполнен из стеклоткани и стеклонитей с пропиткой специализированными, полиэфирными, смолами, с последующей полимеризацией.</p>
      </div>
      <div class="catalog-table catalog-table__los2">
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Материал исполнения</span>
          </div>
          <div class="catalog-table__col catalog-table__three">
            <span>Размещение</span>
            <span>Подземное</span>
            <span>Наземное</span>
          </div>
          <div class="catalog-table__col">
            <span>Материал исполнения</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Стеклопластик</span>
          </div>
          <div class="catalog-table__col">
            <span>+</span>
          </div>
          <div class="catalog-table__col">
            <span>Химически устойчивы (срок эксплуатации под землёй более 50 лет)</span>
            <span>Устойчивы к погодным условиям (при наземной установке)</span>
            <span>При небольшом удельном весе обладают большой механической прочностью</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Спиральновитый ПНД с Ω-профилем</span>
          </div>
          <div class="catalog-table__col">
            <span>+</span>
          </div>
          <div class="catalog-table__col">
            <span>Не гигроскопичен</span>
            <span>Нет гидролиза-разрушающая цепная реакция с водорастворимыми компонентами стеклопластика.</span>
            <span>Повышенная стойкость к гидроабразивному износу</span>
            <span>Значительно низкие затраты на монтаж, не требует засыпки песком или просеянным грунтом, так же не нужна проливка водой.</span>
            <span>Устойчив к точечным нагрузкам и ударам.</span>
            <span>Высокая пластичность в сочетании с высокой несущей способность</span>
          </div>
        </div>
        <div class="catalog-table__row">
          <div class="catalog-table__col">
            <span>Блок-контейнер</span>
          </div>
          <div class="catalog-table__col">
            <span>+</span>
          </div>
          <div class="catalog-table__col">
            <span>Короткие сроки монтажных работ.</span>
            <span>Удобство обслуживания очистных сооружений.</span>
            <span>Размещение технического персонала.</span>
            <span>Размещение электротехнического оборудования в здании без доступа посторонних.</span>
          </div>
        </div>
      </div>
      <div class="catalog-section__content">
        <div class="catalog-section__spec">
          <h2 class="title-lg">Характеристики</h2>
          <ul>
            <li>
              <h4>от 1 до 200 <span>л/с</span></h4>
              <p class="text-lg">Производительность</p>
            </li>
            <li>
              <h4>от 800 до 20000 <span>мм</span></h4>
              <p class="text-lg">Длина сооружений</p>
            </li>
            <li>
              <h4>от 800 до 3000 <span>мм</span></h4>
              <p class="text-lg">Диаметр сооружений (для изделий из ПНД)</p>
            </li>
            <li>
              <h4>от 800 до 3600 <span>мм</span></h4>
              <p class="text-lg">Диаметр сооружений (для изделий из стеклопластика)</p>
            </li>
            <li>
              <h4>от 4 до 24 <span>мм</span></h4>
              <p class="text-lg">Толщина стенки (для изделий из стеклопластика)</p>
            </li>
            <li>
              <h4>от 44 до 90 <span>мм</span></h4>
              <p class="text-lg">Толщина стенки (для изделий из ПНД)</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="btn-wrap"><a href="javascript:;" class="btn btn-white btn-up"><p>Наверх</p></a></div>
    </div>
  </div>
</section>

<section class="consult">
  <div class="container row">
    <div class="col">
      <div class="consult-man">
        <div class="consult-man__img"><img src="img/man-3.jpg" alt=""></div>
        <div class="consult-man__desc">
          <div class="text-lg">Михаил Лазарев</div>
          <div class="text-sm">Главный инженер проекта</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="consult-content">
        <div class="text-lg">Не можете определиться?</div>
        <h2 class="title-xl">Бесплатно проконсультируем по телефону и подберем оборудование</h2>
        <form action="#" class="form">
          <label class="label">
            <p>Ваше имя</p>
            <input type="text" class="input" placeholder="Александр" />
          </label>
          <label class="label">
            <p>Телефон</p>
            <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
          </label>
          <button class="btn btn-fluid btn-white btn-icon"><p>Позвонить</p></button>
          <label class="checkbox checkbox-white checkbox-margin">
            <input type="checkbox" checked required>
            <p>Согласие с <a href="#">политикой обработки данных</a></p>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}