{% extends 'components/_layout.html' %}
{% set site_title = 'Каталог' %}
{% set home = true %}
{% set onepage = false %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="catalog-header">
  <div class="container side row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-fluid">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">Наши решения</a></li><li><a href="#">ЛОС</a></li>
      </ul>
      <h1 class="title-xl">Ливневые очистные сооружения</h1>
    </div>
  </div>
</section>

<section class="catalog">
  <div class="container">
    <div class="catalog-top row">
      <div class="catalog-sort">
        <b>Сортировать:</b>
        <p><span>по возрастанию цены <i></i></span><span>по убыванию цены <i></i></span></p>
      </div>
      <div class="catalog-grid__switch">
        <p class="text-lg">Вид</p>
        <ul>
          <li class="active" data-grid="two">2</li>
          <li data-grid="three">3</li>
        </ul>
      </div>
    </div>
    <div class="catalog-grid two">
      <div class="catalog-item" data-price="100000" data-aos="fade-up">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>от <span class="catalog-item__price"></span> ₽</p>
        </div>
      </div>
      <div class="catalog-item" data-price="100000" data-aos="fade-up">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>от <span class="catalog-item__price"></span> ₽</p>
        </div>
      </div>
      <div class="catalog-item" data-price="100000" data-aos="fade-up">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>от <span class="catalog-item__price"></span> ₽</p>
        </div>
      </div>
      <div class="catalog-item" data-price="100000" data-aos="fade-up">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>от <span class="catalog-item__price"></span> ₽</p>
        </div>
      </div>
      <div class="catalog-item" data-price="100000" data-aos="fade-up">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>от <span class="catalog-item__price"></span> ₽</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="catalog-section unset">
  <div class="container row">
    <div class="col">
      <div class="catalog-section__title">
        <h2 class="title-lg">Очистные сооружения промышленных сточных вод</h2>
        <div class="btn-wrap"><a href="javascript:;" class="btn btn-white btn-up"><p>Наверх</p></a></div>
      </div>
    </div>
    <div class="col">
      <div class="catalog-section__content">
        <p>Промышленные сточные воды образуются в результате технологических процессов, часто в их составе присутствуют токсичные химические соединения, нефтепродукты, взрывоопасные и газообразующие вещества. Перед сбросом в централизованные канализационные системы или окружающую среду сточные воды промышленных предприятий, согласно законодательным нормативам, должны пройти эффективную очистку. Для этого используются комплексы очистных сооружений, их состав зависит от специфики предприятия и типа загрязнений.</p>
        <p>Подбор оборудования средств очистки, его расположение, подключение и работа зависит, прежде всего, от уровня и состава загрязнений и необходимых объемов очистки сбросов. Проектирование сооружений очистки стоков проводится индивидуально для каждого предприятия в зависимости от объема стока и его загрязненности. Грамотно составленная схема очистки снижает концентрацию загрязнений в стоке до минимальных отметок. Чаще всего очистные сооружения выглядят как система герметичных резервуаров соединяющих трубопроводов, а также технологического оборудования в блок-контейнерах или легковозводимых зданиях, компактно расположенная на производственной площадке. Кроме самих сооружений проектируется подъездная дорога и сооружения обработки осадков и избыточного ила.</p>
        <p>Промышленные стоки, отводимые в систему городской канализации, должны соответствовать нормативам местного оператора водоотведения (городского водоканала). Чаще всего такие требования устанавливаются в зависимости от состояния городских очистных сооружений. Они могут быть чувствительными к составу стока. Ведь на многих заводах сточные воды содержат вещества, способные вызвать коррозию или разрушение трубопроводов и оборудования.</p>
        <p>При сбросе сточных вод непосредственно в водный объект необходимо руководствоваться нормативом под номером ГН 2.1.5.1315-03 (заменен на СанПиН 1.2.3685-2, прим. автора). В нем определены предельно допустимые концентрации веществ, превышение которых нанесет непоправимый вред флоре и фауне водоема (а также приведет к проверкам и штрафам).</p>
        <p>Загрязнения промышленных вод различаются по агрегатному состоянию, по размеру, по химической инертности. Для того, чтобы наиболее правильно подобрать методику очистки промышленных вод, применяют следующую классификацию:</p>
        <ul>
          <li>грубодисперсные взвешенные примеси;</li>
          <li>эмульгированные примеси;</li>
          <li>мелкодисперсные частицы;</li>
          <li>эмульсии;</li>
          <li>металлы (в ионной и прочих формах);</li>
          <li>органические вещества (органика);</li>
          <li>ПАВ и АПАВ.</li>
        </ul>
        <p>Из-за большого разнообразия растворимых и нерастворимых загрязнителей в сточных водах, создать универсальный способ их обезвреживания и удаления не представляется возможным. Поэтому на очистных сооружениях применяют целый набор приемов, каждый из которых ориентирован на работу с той или иной группой веществ. Каждая из нижеперечисленных технологий очистки включает в себя несколько ступеней, требующих применения определенных технических устройств, химикатов и биологически активных препаратов. Все эти приемы можно разделить на несколько категорий:</p>
        <ul>
          <li>Механические.</li>
          <li>Химические.</li>
          <li>Биологические и биохимические.</li>
          <li>Физико-химические.</li>
        </ul>
        <p>Механические способы очистки позволяют удалить из промышленных стоков крупные твердые частицы. Они позволяют очистить воду не менее чем от половины минеральных нерастворимых частиц. К механическим методам относятся отстаивание и фильтрация. Такое оборудование очень эффективно по отношению к взвеси. Механическая очистка чаще всего является первой ступенью очистки и дополняется сооружениями других видов.</p>
        <p>Химические методы основываются на введении в поток реагентов, переводящих растворенные в промышленной воде вещества в нерастворимое состояние. Химическая очистка проводится с помощью емкостей-реакторов, где происходит смешение стока и реагента.</p>
        <p>Физико-химические методы сочетают действие физических сил с химическими реакциями. Благодаря им выводятся остатки неорганических веществ, расщепляются органические загрязнения. Наиболее востребованными видами являются коагуляция, флокуляция, флотация, сорбция и ионный обмен. Реже применяются экстракция и эвапорация. Данные способы очистки промышленных стоков работают только при определенных условиях. Поэтому в схеме очистных сооружений оборудование этого вида очистки чаще всего стоит после механических и химических методов, когда в воде находится значительно меньше загрязнений.</p>
        <p>Биологическая очистка позволяет избавить сточную воду от органики и снизить значения БПК и ХПК. Биологическая очистка заключается в поглощении микроорганизмами органических веществ. В специализированных емкостях, где вода находится длительное время, органика окисляется и минерализуется под действием аэробов, обитающих в объеме сооружения. Аэробы – это микроорганизмы, обитающие и хорошо себя чувствующие при поступлении кислорода воздуха. Для биологических методов применяют аэротенки, окситенки, биофильтры. Эти сооружения различаются между собой видом микроорганизмов: биопленка в биофильтрах и активных ил в аэротенках и окситенках.</p>
        <p>Состояние стоков принципиально важно для корректного выбора подхода и средств для очистки. По составу загрязнений сточные воды предприятий делятся на три группы:</p>
        <ul>
          <li>Неорганические стоки;</li>
          <li>Сточные воды с органикой;</li>
          <li>Смесь из неорганических и органических загрязнений.</li>
        </ul>
        <p>Первая группа включает в себя промышленные стоки заводов, производящих соду, сульфаты и азотные соединения, а также использующие в своей технологии металлы, щелочи и кислоты.</p>
        <p>Ко второй группе относятся предприятия пищевой промышленности, органического синтеза и нефтеперерабатывающие заводы.</p>
        <p>Третья группа – это гальваника и текстильное производство, где кислоты и щелочи сочетаются с металлами, органическими красителями или маслами.</p>
      </div>
    </div>
  </div>
</section>

<section class="consult">
  <div class="container row">
    <div class="col">
      <div class="consult-man">
        <div class="consult-man__img"><img src="img/man-3.jpg" alt=""></div>
        <div class="consult-man__desc">
          <div class="text-lg">Михаил Лазарев</div>
          <div class="text-sm">Главный инженер проекта</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="consult-content">
        <div class="text-lg">Не можете определиться?</div>
        <h2 class="title-xl">Бесплатно проконсультируем по телефону и подберем оборудование</h2>
        <form action="#" class="form">
          <label class="label">
            <p>Ваше имя</p>
            <input type="text" class="input" placeholder="Александр" />
          </label>
          <label class="label">
            <p>Телефон</p>
            <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
          </label>
          <button class="btn btn-fluid btn-white btn-icon"><p>Позвонить</p></button>
          <label class="checkbox checkbox-white checkbox-margin">
            <input type="checkbox" checked required>
            <p>Согласие с <a href="#">политикой обработки данных</a></p>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}