{% extends 'components/_layout.html' %}
{% set site_title = 'Страница оборудования' %}
{% set home = false %}
{% set onepage = false %}

{% block content %}

<div class="container container-lines rtl row hd">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="item-header" data-aos="fade-up">
  <div class="container row rtl">
    <div class="col">
      <div class="item-card">
        <div class="item-card__desc">
          <div>Песконефтеуловитель комбинированный с сорбционным блоком представляет собой горизонтальную емкость полной заводской готовности, изготовленную из спиральновитого ПНД армированного ОМЕГА-профилем, с перегородками, тонкослойными модулями, сорбционной загрузкой, подводящим и отводящим патрубками, горловинами обслуживания, вентиляционными стояками, крышками и лестницами.Предназначен для очистки от взвешенных веществ и нефтепродуктов. Сорбционный блок песконефтеуловителя увеличивает эффективность очистки стока, до необходимых показателей очистки ливневых и талых сточных вод до требований по количественному составу загрязняющих веществ в сточных водах, сбрасываемых в водоем рыбохозяйственного назначения.</div>
          <a href="#description" class="item-card__desc-more">Полное писание</a>
        </div>
        <div class="item-card__material">
          <b>Выбрать материал исполнения</b>
          <a href="#" class="item-card__material-item">
            <img src="img/item-2.jpg" alt="">
            <p>Стеклопластик</p>
          </a>
          <a href="#" class="item-card__material-item active">
            <img src="img/item-3.jpg" alt="">
            <p>ПНД</p>
          </a>
        </div>
        <div class="item-card__price">от <span class="triplets">12999000</span> ₽</div>
        <form action="#" class="item-card__form">
          <b>Узнать стоимость установки</b>
          <input type="tel" class="masked" placeholder="+7 (000) 000-00-00"/>
          <button class="btn btn-fluid btn-fill"><p>Рассчитать</p></button>
          <label class="checkbox">
            <input type="checkbox" checked required>
            <p>Согласие с <a href="#">политикой обработки данных</a></p>
          </label>
        </form>
      </div>
    </div>
    <div class="col">
      <div class="item-header__top">
        <ul class="breadcrumbs">
          <li><a href="#">Главная</a></li><li><a href="#">ЛОС</a></li><li><a href="#">Песконефтеуловитель ГЕОН-ПНУ СБ</a></li>
        </ul>
        <h1 class="title-lg">Песконефтеуловитель ГЕОН-ПНУ СБ</h1>
      </div>
      <div class="item-header__promo">
        <img src="img/item-promo.jpg" alt="" class="item-header__pic">
      </div>
    </div>
  </div>
</section>

<section class="item-wrapper unset">
  <div class="container rtl row">
    <div class="item-nav"><ul></ul></div>
    <div class="col">
      <div class="item-content">
        <div class="item-section" data-aos="fade-up">
          <h2 class="item-section__title">Описание</h2>
          <div class="item-section__text">
            <p>Песконефтеуловитель комбинированный с сорбционным блоком представляет собой горизонтальную емкость полной заводской готовности, изготовленную из спиральновитого ПНД армированного ОМЕГА-профилем, с перегородками, тонкослойными модулями, сорбционной загрузкой, подводящим и отводящим патрубками, горловинами обслуживания, вентиляционными стояками, крышками и лестницами.</p>
            <p>Предназначен для очистки от взвешенных веществ и нефтепродуктов. Сорбционный блок песконефтеуловителя увеличивает эффективность очистки стока, до необходимых показателей очистки ливневых и талых сточных вод до требований по количественному составу загрязняющих веществ в сточных водах, сбрасываемых в водоем рыбохозяйственного назначения.</p>
          </div>
        </div>
        <div class="item-section" data-aos="fade-up">
          <div class="item-section__title">Характеристики</div>
          <ul class="item-spec">
            <li>
              <h4>до <span>150</span> л/с</h4>
              <p class="text-lg">Производительность</p>
            </li>
            <li>
              <h4><span>90</span> мм</h4>
              <p class="text-lg">Толщина стенки</p>
            </li>
            <li>
              <h4>до <span>3600</span> мм</h4>
              <p class="text-lg">Диаметр сооружений</p>
            </li>
            <li>
              <h4>до <span>10600</span> мм</h4>
              <p class="text-lg">Длина сооружений</p>
            </li>
          </ul>
        </div>
        <div class="item-section" data-aos="fade-up">
          <div class="item-section__title">Материал</div>
          <div class="item-material__blue item-material__1">
            <h3>Спиральновитый ПНД армированный ОМЕГА-профилем</h3>
            <p class="text-lg">ОМЕГА-профиль увеличивает показатели кольцевой жесткости и снижает коэффициент линейного расширения</p>
            <img src="img/material-1.png" alt="">
          </div>
          <div class="item-material__blue item-material__2">
            <h3>Стеклопластик</h3>
            <p class="text-lg">Армированный стеклопластик перекрестной намотки</p>
            <img src="img/material-2.png" alt="">
          </div>
          <div class="item-material__gray item-material__3">
            <h3>Конструкционная сталь с антикоррозийной защитой (АКЗ)</h3>
          </div>
          <div class="item-material__gray item-material__4">
            <h3>Нержавеющая сталь AISI</h3>
          </div>
        </div>
        <div class="item-section" data-aos="fade-up">
          <h2 class="item-section__title">Преимущества</h2>
          <div class="item-section__text">
            <ul>
              <li>Не гигроскопичен</li>
              <li>Не подвержен гидролизу — разрушающая цепная реакция с водорастворимыми компонентами стеклопластика.</li>
              <li>Повышенная стойкость к гидроабразивному износу</li>
              <li>Значительно низкие затраты на монтаж, не требует засыпки песком или просеянным грунтом, так же не нужна проливка водой.</li>
              <li>Устойчив к точечным нагрузкам и ударам.</li>
              <li>Высокая пластичность в сочетании с высокой несущей способность</li>
            </ul>
          </div>
        </div>
        <div class="item-section" data-aos="fade-up">
          <div class="item-section__title">Параметры</div>
          <div class="table">
            <div class="table-row">
              <div class="table-col">Модель</div>
              <div class="table-col">Произв-ть|л/с|м3/ч</div>
              <div class="table-col">Размеры|D|L</div>
              <div class="table-col">Горловина <i>шт х ø.</i></div>
              <div class="table-col">Вес|Пустой|Полный</div>
              <div class="table-col">Объем <i>Рабочий</i></div>
              <div class="table-col">Срок <i>Недель</i></div>
            </div>
            <div class="table-row">
              <div class="table-col">ГЕОН-ПНУ СБ-3 (ПНД)</div>
              <div class="table-col">3</div>
              <div class="table-col">1500</div>
              <div class="table-col">1xø1300</div>
              <div class="table-col">0,9 т</div>
              <div class="table-col">5,7</div>
              <div class="table-col">4-6</div>
            </div>
            <div class="table-row">
              <div class="table-col">ГЕОН-ПНУ СБ-3 (ПНД)</div>
              <div class="table-col">3</div>
              <div class="table-col">1500</div>
              <div class="table-col">1xø1300</div>
              <div class="table-col">0,9 т</div>
              <div class="table-col">5,7</div>
              <div class="table-col">4-6</div>
            </div>
            <div class="table-row">
              <div class="table-col">ГЕОН-ПНУ СБ-3 (ПНД)</div>
              <div class="table-col">3</div>
              <div class="table-col">1500</div>
              <div class="table-col">1xø1300</div>
              <div class="table-col">0,9 т</div>
              <div class="table-col">5,7</div>
              <div class="table-col">4-6</div>
            </div>
            <div class="table-row">
              <div class="table-col">ГЕОН-ПНУ СБ-3 (ПНД)</div>
              <div class="table-col">3</div>
              <div class="table-col">1500</div>
              <div class="table-col">1xø1300</div>
              <div class="table-col">0,9 т</div>
              <div class="table-col">5,7</div>
              <div class="table-col">4-6</div>
            </div>
            <div class="table-row">
              <div class="table-col">ГЕОН-ПНУ СБ-3 (ПНД)</div>
              <div class="table-col">3</div>
              <div class="table-col">1500</div>
              <div class="table-col">1xø1300</div>
              <div class="table-col">0,9 т</div>
              <div class="table-col">5,7</div>
              <div class="table-col">4-6</div>
            </div>
          </div>
        </div>
        <div class="item-section row aic" data-aos="fade-up">
          <div class="item-section__title none-mg">Галерея</div>
          <div class="item-gallery__control control">
            <div class="control-arrow item-gallery__arrow-prev"></div>
            <div class="control-increment text-lg item-gallery__increment"></div>
            <div class="control-arrow item-gallery__arrow-next"></div>
          </div>
          <div class="item-gallery">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><a href="img/item/1.jpg" data-fancybox="gallery"><img src="img/item/1.jpg" alt=""></a></div>
              <div class="swiper-slide"><a href="img/item/2.jpg" data-fancybox="gallery"><img src="img/item/2.jpg" alt=""></a></div>
              <div class="swiper-slide"><a href="img/item/3.jpg" data-fancybox="gallery"><img src="img/item/3.jpg" alt=""></a></div>
              <div class="swiper-slide"><a href="img/item/4.jpg" data-fancybox="gallery"><img src="img/item/4.jpg" alt=""></a></div>
            </div>
          </div>
        </div>
        <div class="item-section" data-aos="fade-up">
          <h2 class="item-section__title">Описание работы</h2>
          <div class="item-section__text">
            <p>Принцип работы заключается в том, что сточная вода по подводящему трубопроводу поступает в зону отстаивания песконефтеуловителя комбинированного с сорбционным блоком, где происходит снижение скорости потока и выпадение осадка на дно установки</p>
            <p>Данная зона оборудована тонкослойным модулем, принцип действия которого заключается в укрупнении капель нефтепродуктов за счет действия сил межмолекулярного притяжения и ускорения всплытия на поверхность отстойника. Далее сточные воды попадают на двухслойный сорбционный фильтр. Первый слой — экологически чистый синтетический нетканый материал, где происходит более глубокая очистка от нерастворенных примесей взвешенных веществ и пленок нефтепродуктов за счет седиментационного эффекта. После этого сточные воды фильтруются через фильтрующую загрузку. В фильтрующей загрузке происходит очищение стоков от растворенных, мелкодисперсных загрязнений, нефтепродуктов, СПАВ и др. веществ</p>
            <p><b>Дополнительно, существует возможность оборудования песконефтеуловителя комбинированного с сорбционным блоком:</b></p>
            <ul>
              <li>Расходомером поступающих стоков</li>
              <li>Запорной арматурой, для проведения регламентных рабо</li>
              <li>Дренажным насосом для проведения регламентных работ</li>
              <li>Датчиками уровня (осадок/нефтепродукты)</li>
            </ul>
          </div>
        </div>
        <div class="item-section" data-aos="fade-up">
          <h2 class="item-section__title">Обслуживание</h2>
          <div class="item-section__text">
            <p>Обслуживание ГЕОН-ПНУ СБ рекомендуется производить не реже одного раза в год, в период окончания эксплуатационного сезона</p>
            <p>Обслуживание заключается в откачке слоя нефтепродуктов, воды, накопившегося осадка, мойке внутренних стенок емкости. Если песконефтеуловитель оборудован датчиками, то во время откачки содержимого их необходимо извлечь из корпуса, чтобы избежать поломки датчиков, очистить датчики от загрязнений и протестировать их работоспособность. Обслуживание сорбционного блока заключается в регенерации или замене сорбционной загрузки. После обслуживания и установки на место кассет с загрузкой и датчиков, ПНУ СБ должен быть заполнен водой до высоты выходного патрубка.</p>
          </div>
        </div>
        <div class="item-section" data-aos="fade-up">
          <div class="item-section__title">Документы</div>
          <ul class="item-docs">
            <li>
              <a href="#">
                <img src="img/svg/pdf.svg" alt="">
                <b>Сертификат соответствия на емкостное оборудование ТР ТС 032-2013</b>
                <p>Посмотреть</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/svg/pdf.svg" alt="">
                <b>Уведомление о прохождении аккредитации ПАО «НК РосНефть»</b>
                <p>Посмотреть</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/svg/pdf.svg" alt="">
                <b>Уведомление о прохождении аккредитации ПАО «Славнефть–ЯНОС»</b>
                <p>Посмотреть</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="item-card fixed">
        <a href="#" class="item-card__back">Каталог</a>
        <h3 class="item-card__title">Песконефтеуловитель ГЕОН-ПНУ СБ (ПНД)</h3>
        <div class="item-card__material">
          <b>Выбрать материал исполнения</b>
          <a href="#" class="item-card__material-item">
            <img src="img/item-2.jpg" alt="">
            <p>Стеклопластик</p>
          </a>
          <a href="#" class="item-card__material-item active">
            <img src="img/item-3.jpg" alt="">
            <p>ПНД</p>
          </a>
        </div>
        <div class="item-card__price">от <span class="triplets">12999000</span> ₽</div>
        <form action="#" class="item-card__form">
          <b>Узнать стоимость установки</b>
          <input type="tel" class="masked" placeholder="+7 (000) 000-00-00"/>
          <button class="btn btn-fluid btn-fill"><p>Рассчитать</p></button>
          <label class="checkbox">
            <input type="checkbox" checked required>
            <p>Согласие с <a href="#">политикой обработки данных</a></p>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="projects-equipment">
  <div class="container">
    <div class="bg row aic">
      <div class="title">
        <h2 class="title-lg">Другие предложения</h2>
        <div class="text-lg">Он хорошо выглядит, но без вот этого заголовка может потеряться</div>
      </div>
      <div class="projects-equipment__control control">
        <div class="control-arrow projects-equipment__arrow-prev"></div>
        <div class="control-increment text-lg projects-equipment__increment"></div>
        <div class="control-arrow projects-equipment__arrow-next"></div>
      </div>
      <div class="projects-equipment__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="catalog-item" data-price="100000">
               <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
              <div class="catalog-item__info">
                <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
                <p>от <span class="catalog-item__price"></span> ₽</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="catalog-item" data-price="100000">
               <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
              <div class="catalog-item__info">
                <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
                <p>от <span class="catalog-item__price"></span> ₽</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="catalog-item" data-price="100000">
               <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
              <div class="catalog-item__info">
                <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
                <p>от <span class="catalog-item__price"></span> ₽</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="catalog-item" data-price="100000">
               <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
              <div class="catalog-item__info">
                <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
                <p>от <span class="catalog-item__price"></span> ₽</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="consult">
  <div class="container row">
    <div class="col">
      <div class="consult-man">
        <div class="consult-man__img"><img src="img/man-3.jpg" alt=""></div>
        <div class="consult-man__desc">
          <div class="text-lg">Михаил Лазарев</div>
          <div class="text-sm">Главный инженер проекта</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="consult-content">
        <div class="text-lg">Не можете определиться?</div>
        <h2 class="title-xl">Бесплатно проконсультируем по телефону и подберем оборудование</h2>
        <form action="#" class="form">
          <label class="label">
            <p>Ваше имя</p>
            <input type="text" class="input" placeholder="Александр" />
          </label>
          <label class="label">
            <p>Телефон</p>
            <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
          </label>
          <button class="btn btn-fluid btn-white btn-icon"><p>Позвонить</p></button>
          <label class="checkbox checkbox-white checkbox-margin">
            <input type="checkbox" checked required>
            <p>Согласие с <a href="#">политикой обработки данных</a></p>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}