{% extends 'components/_layout.html' %}
{% set site_title = 'О компании' %}
{% set home = false %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="company-header">
  <div class="container row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-fluid">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">О компании</a></li>
      </ul>
      <h1 class="title-xl">«Геон» - современная российская инжиниринговая компания полного цикла в&nbsp;области очистки и&nbsp;перекачки сточных вод</h1>
    </div>
  </div>
</section>

<section class="company-about">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">О нас</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Мы сами проектируем, изготавливаем и осуществляем монтаж очистных сооружений сточных вод</h2>
        <div class="text-lg">Наш подход заключается в том, чтобы полностью избежать ошибок на всех этапах и избавить наших заказчиков от возможных проблем</div>
      </div>
      <ul class="company-about__stat">
        <li>
          <div class="company-about__stat-counter blue">
            <h3 data-counter>13</h3>
            <h4 data-counter>лет</h4>
          </div>
          <p class="text-lg">средний стаж сотрудников</p>
        </li>
        <li>
          <div class="company-about__stat-counter">
            <h3 data-counter>37</h3>
            <h4 data-counter>типов</h4>
          </div>
          <p class="text-lg">изготовляемого оборудования</p>
        </li>
      </ul>
      <div class="company-director">
        <img src="img/company-director.jpg" alt="">
        <div class="company-director__desc">
          <div class="text-lg">Георгий Федоров</div>
          <div class="text-sm">Генеральный директор</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'components/free.html' %}

{% include 'components/consult.html' %}

{% endblock %}