{% extends 'components/_layout.html' %}
{% set site_title = 'О компании' %}
{% set home = false %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="company-header">
  <div class="container row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-fluid">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">О компании</a></li>
      </ul>
      <h1 class="title-xl">«Геон» - современная российская инжиниринговая компания полного цикла в&nbsp;области очистки и&nbsp;перекачки сточных вод</h1>
    </div>
  </div>
</section>

<section class="company-about">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">О нас</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Мы сами проектируем, изготавливаем и осуществляем монтаж очистных сооружений сточных вод</h2>
        <div class="text-lg">Наш подход заключается в том, чтобы полностью избежать ошибок на всех этапах и избавить наших заказчиков от возможных проблем</div>
      </div>
      <ul class="company-about__stat">
        <li>
          <div class="company-about__stat-counter blue">
            <h3 data-counter>13</h3>
            <h4 data-counter>лет</h4>
          </div>
          <p class="text-lg">средний стаж сотрудников</p>
        </li>
        <li>
          <div class="company-about__stat-counter">
            <h3 data-counter>37</h3>
            <h4 data-counter>типов</h4>
          </div>
          <p class="text-lg">изготовляемого оборудования</p>
        </li>
      </ul>
      <div class="company-director">
        <img src="img/company-director.jpg" alt="">
        <div class="company-director__desc">
          <div class="text-lg">Георгий Федоров</div>
          <div class="text-sm">Генеральный директор</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="company-equipment">
  <div class="container row">
    <div class="col"></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Сами производим все необходимое оборудование</h2>
        <div class="text-lg">Наш подход заключается в том, чтобы полностью избежать ошибок на всех этапах и избавить наших заказчиков от возможных проблем</div>
      </div>
    </div>
    <div class="col-fluid">
      <img src="img/company-equipment.jpg" alt="" class="company-equipment__image">
    </div>
  </div>
</section>

<section class="company-services">
  <div class="container row">
    <div class="col-fluid">
      <h4 class="title-sm title-counter">Услуги</h4>
      <div class="title"><h2 class="title-lg">Помогаем на всех этапах</h2></div>
      <ul class="company-services__list">
        <li>Анализ сточных вод</li>
        <li>Разработка тех. задания</li>
        <li>Обследование</li>
        <li>Аудит очистных сооружений</li>
        <li>Технология</li>
        <li>Проектирование</li>
        <li>Изыскания</li>
        <li>Сокращение СЗЗ</li>
        <li>Изготовление оборудования</li>
        <li>Монтаж</li>
        <li>Пусконаладка</li>
        <li>Согласование точки сброса</li>
      </ul>
    </div>
  </div>
</section>

<section class="company-stat">
  <div class="container row">
    <div class="company-stat__item">
      <div class="company-stat__counter">
        <h3 data-counter>80000</h3>
        <h4 data-counter>м3</h4>
      </div>
      <p class="text-lg">Очищает наше оборудование в сутки</p>
    </div>
    <div class="company-stat__item">
      <div class="company-stat__counter">
        <h3 data-counter>6200</h3>
        <h4 data-counter>расчетов</h4>
      </div>
      <p class="text-lg">Произведено нашими проектировщиками и технологами</p>
    </div>
    <div class="company-stat__item">
      <div class="company-stat__counter">
        <h3 data-counter>120+</h3>
        <h4 data-counter>проектов</h4>
      </div>
      <p class="text-lg">Реализовано группой компаний ГЕОН</p>
    </div>
  </div>
</section>

<section class="company-group">
  <div class="container row">
    <div class="col"></div>
    <div class="col">
      <div class="title"><h2 class="title-lg">В группу входят:</h2></div>
      <ul class="list">
        <li>Проектный отдел</li>
        <li>Отдел согласований</li>
        <li>Отдел контроля качества</li>
        <li>Подразделение разработки технологии и конструкторских разработок</li>
        <li>Производственный отдел</li>
        <li>Служба строительства очистных сооружений и наружных сетей</li>
        <li>Пуско-наладочное подразделение</li>
        <li>Испытательные лаборатории</li>
        <li>Сервисно-гарантийное обеспечение</li>
      </ul>
    </div>
  </div>
</section>

{% include 'components/free.html' %}

<section class="company-members">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Являемся участниками</h4></div>
    <div class="col">
      <ul class="company-members__list">
        <li>
          <img src="" alt="">
          <h4 class="title-sm">Национальный проект «Экология»</h4>
        </li>
        <li>
          <img src="" alt="">
          <h4 class="title-sm">Федеральный проект «Чистая вода»</h4>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="company-quote">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Прямая речь</h4></div>
    <div class="col">
      <div class="company-quote__text">«Наша задача — услышать пожелания клиента и снять с него всю головную боль: выбрать правильное оборудование, согласовать и получить все разрешения, построить и запустить работающие очистные сооружения.»</div>
      <div class="company-quote__author">
        <img src="img/company-quote-author.jpg" alt="">
        <h4>Виталий Михайлович</h4>
        <h5>Директор</h5>
      </div>
    </div>
  </div>
</section>

<section class="company-map">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Карта</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Регионы, которые стали чище благодаря нам</h2>
        <div class="text-lg">Мы работаем на всей территории Российской Федерации и СНГ</div>
      </div>
    </div>
    <div class="col-fluid"><img src="img/company-map.png" alt=""></div>
  </div>
</section>

<section class="company-team">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Отвечают за результат</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Текст про команду</h2>
        <div class="text-lg">Подзаголовок</div>
      </div>
      <div class="company-team__grid">
        <div class="company-team__item">
          <img src="img/team/1.jpg" alt="">
          <p class="text-lg">Федоров Георгий</p>
          <p class="text-sm">Генеральный директор</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/2.jpg" alt="">
          <p class="text-lg">Вздыхалин Юрий</p>
          <p class="text-sm">Технический директор</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/3.jpg" alt="">
          <p class="text-lg">Келлерман Александр</p>
          <p class="text-sm">Коммерческий директор</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/4.jpg" alt="">
          <p class="text-lg">Лазарев Михаил</p>
          <p class="text-sm">Главный инженер проекта</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/5.jpg" alt="">
          <p class="text-lg">Седов Сергей</p>
          <p class="text-sm">Главный инженер проекта</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/6.jpg" alt="">
          <p class="text-lg">Яковлев Денис</p>
          <p class="text-sm">Руководитель отдела технологии</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/7.jpg" alt="">
          <p class="text-lg">Гурьев Олег</p>
          <p class="text-sm">Руководитель ПТО </p>
        </div>
        <div class="company-team__item">
          <img src="img/team/8.jpg" alt="">
          <p class="text-lg">Александр Борисов</p>
          <p class="text-sm">Главный технолог</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/9.jpg" alt="">
          <p class="text-lg">Тощев Дмитрий</p>
          <p class="text-sm">Руководитель проектной группы</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/10.jpg" alt="">
          <p class="text-lg">Спедчук Александра</p>
          <p class="text-sm">Руководитель финансовой службы</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/11.jpg" alt="">
          <p class="text-lg">Кустов Михаил</p>
          <p class="text-sm">Руководитель группы поддержки</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/12.jpg" alt="">
          <p class="text-lg">Бахвалов Сергей</p>
          <p class="text-sm">Руководитель проектов</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/13.jpg" alt="">
          <p class="text-lg">Васильев Максим</p>
          <p class="text-sm">Руководитель проектов</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/14.jpg" alt="">
          <p class="text-lg">Николаев Александр</p>
          <p class="text-sm">Руководитель проектов</p>
        </div>
        <div class="company-team__item">
          <img src="img/team/15.jpg" alt="">
          <p class="text-lg">Пухов Станислав</p>
          <p class="text-sm">Руководитель проектов</p>
        </div>
      </div>
      <div class="btn-wrap"><a href="javascript:;" class="btn btn-outline btn-icon btn-show js-team-show"><p>Показать ещё</p></a></div>
    </div>
  </div>
</section>

<section class="company-sertificate">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Сертификаты</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Имеем все допуски, включая особо опасные объекты</h2>
        <div class="text-lg">Он хорошо выглядит, но без вот этого заголовка может потеряться</div>
      </div>
    </div>
    <div class="col-fluid row">
      <div class="company-sertificate__item">
        <div class="company-sertificate__info">
          <h3>Выписка ГСП от 31.08.2021</h3>
          <h4>Подпись</h4>
          <a href="#" class="company-sertificate__btn"><p>Скачать</p><span>[PDF]</span></a>
        </div>
        <div class="company-sertificate__image"><img src="img/company-sertificate.png" alt=""></div>
      </div>
      <div class="company-sertificate__item">
        <div class="company-sertificate__info">
          <h3>Выписка ГСП от 31.08.2021</h3>
          <h4>Подпись</h4>
          <a href="#" class="company-sertificate__btn"><p>Скачать</p><span>[PDF]</span></a>
        </div>
        <div class="company-sertificate__image"><img src="img/company-sertificate.png" alt=""></div>
      </div>
      <div class="company-sertificate__item">
        <div class="company-sertificate__info">
          <h3>Выписка ГСП от 31.08.2021</h3>
          <h4>Подпись</h4>
          <a href="#" class="company-sertificate__btn"><p>Скачать</p><span>[PDF]</span></a>
        </div>
        <div class="company-sertificate__image"><img src="img/company-sertificate.png" alt=""></div>
      </div>
    </div>
  </div>
</section>

{% include 'components/consult.html' %}

{% endblock %}