{% extends 'components/_layout.html' %}
{% set site_title = 'Home' %}
{% set home = true %}

{% block content %}

<section class="hero">
  <video preload="auto" playsinline="" autoplay="" loop="" muted="">
    <source src="hero-video.mp4" type="video/mp4">
  </video>
  <div class="container row">
    <div class="col">
      <h4 class="title-sm">Группа компаний ГЕОН</h4>
    </div>
    <div class="col">
      <h1 class="title-xl">Профессиональные очистные сооружения: проектирование и&nbsp;строительство</h1>
      <p class="text-lg">Проведем обследование, разработаем проект, изготовим и запустим в работу</p>
      <div class="btn-wrap">
        <a href="#" class="btn btn-padding btn-fill btn-icon"><p>Рассчитать стоимость</p></a>
        <a href="#" class="btn btn-padding btn-glass btn-icon"><p>Посмотреть видео</p></a>
      </div>
    </div>
  </div>
</section>

<section class="solutions">
  <div class="container row">
    <div class="col">
      <h4 class="title-sm title-counter">Наши решения</h4>
      <div class="solutions-main">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="solutions-main__content">
              <div class="text-sm">Название</div>
              <h2 class="title-lg">Станция биологической очистки ГЕОН-БИО</h2>
              <div class="text-lg">Очищает от всех известных загрязнений хозяйственно-бытовые стоки</div>
              <div class="btn-wrap"><a href="#" class="btn btn-outline btn-fluid btn-icon"><p>Подробнее</p></a></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="solutions-main__content">
              <div class="text-sm">Название</div>
              <h2 class="title-lg">Ливневые очистные сооружения ГЕОН-ЛОС</h2>
              <div class="text-lg">Очищает от взвешанных веществ и&nbsp;нефтепродуктов поверхностные стоки</div>
              <div class="btn-wrap"><a href="#" class="btn btn-outline btn-fluid btn-icon"><p>Подробнее</p></a></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="solutions-main__content">
              <div class="text-sm">Название</div>
              <h2 class="title-lg">Выпарная установка ГЕОН-ВПР</h2>
              <div class="text-lg">Концентрирует растворы в промышленных сточных водах</div>
              <div class="btn-wrap"><a href="#" class="btn btn-outline btn-fluid btn-icon"><p>Подробнее</p></a></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="solutions-main__content">
              <div class="text-sm">Название</div>
              <h2 class="title-lg">Канализационная насосная станция ГЕОН-ВКНС</h2>
              <div class="text-lg">Осуществляет перекачку любых типов сточных вод</div>
              <div class="btn-wrap"><a href="#" class="btn btn-outline btn-fluid btn-icon"><p>Подробнее</p></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="solutions-second">
        <div class="solutions-second__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/solutions/1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/solutions/2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/solutions/3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/solutions/4.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="solutions-bottom">
        <div class="solutions-control control">
          <div class="control-arrow solutions-arrow-prev"></div>
          <div class="control-increment text-lg solutions-increment"></div>
          <div class="control-arrow solutions-arrow-next"></div>
        </div>
        <div class="solutions-next">
          <div class="text-sm">Далее</div>
          <div class="text-lg"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}