{% extends 'components/_layout.html' %}
{% set site_title = 'Home' %}
{% set home = true %}

{% block content %}

<section class="hero">
  <video preload="auto" playsinline="" autoplay="" loop="" muted="">
    <source src="hero-video.mp4" type="video/mp4">
  </video>
  <div class="container row">
    <div class="col">
      <h4 class="title-sm">Группа компаний ГЕОН</h4>
    </div>
    <div class="col">
      <h1 class="title-xl">Профессиональные очистные сооружения: проектирование и&nbsp;строительство</h1>
      <p class="text">Проведем обследование, разработаем проект, изготовим и запустим в работу</p>
      <div class="btn-wrap">
        <a href="#" class="btn btn-padding btn-fill btn-icon"><p>Рассчитать стоимость</p></a>
        <a href="#" class="btn btn-padding btn-glass btn-icon"><p>Посмотреть видео</p></a>
      </div>
    </div>
  </div>
</section>

{% endblock %}