{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}
{% set home = true %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="hero">
  <video preload="auto" playsinline="" autoplay="" loop="" muted="" poster="img/hero-video.jpg">
    <source src="hero-video.mp4" type="video/mp4">
  </video>
  <div class="container row">
    <div class="col">
      <h4 class="title-sm">Группа компаний ГЕОН</h4>
    </div>
    <div class="col">
      <h1 class="title-xl">Профессиональные очистные сооружения: проектирование и&nbsp;строительство</h1>
      <p class="text-lg">Проведем обследование, разработаем проект, изготовим и запустим в работу</p>
      <div class="btn-wrap">
        <a href="#" class="btn btn-padding btn-fill btn-icon"><p>Рассчитать стоимость</p></a>
        <a href="#" class="btn btn-padding btn-glass btn-icon"><p>Посмотреть видео</p></a>
      </div>
    </div>
  </div>
</section>

<section class="solutions">
  <div class="container row">
    <div class="col">
      <h4 class="title-sm title-counter">Наши решения</h4>
      <div class="solutions-main">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="solutions-main__content">
              <div class="text-sm">Название</div>
              <h2 class="title-lg">Станция биологической очистки ГЕОН-БИО</h2>
              <div class="text-lg">Очищает от всех известных загрязнений хозяйственно-бытовые стоки</div>
              <div class="btn-wrap"><a href="#" class="btn btn-outline btn-fluid btn-icon"><p>Подробнее</p></a></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="solutions-main__content">
              <div class="text-sm">Название</div>
              <h2 class="title-lg">Ливневые очистные сооружения ГЕОН-ЛОС</h2>
              <div class="text-lg">Очищает от взвешанных веществ и&nbsp;нефтепродуктов поверхностные стоки</div>
              <div class="btn-wrap"><a href="#" class="btn btn-outline btn-fluid btn-icon"><p>Подробнее</p></a></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="solutions-main__content">
              <div class="text-sm">Название</div>
              <h2 class="title-lg">Выпарная установка ГЕОН-ВПР</h2>
              <div class="text-lg">Концентрирует растворы в промышленных сточных водах</div>
              <div class="btn-wrap"><a href="#" class="btn btn-outline btn-fluid btn-icon"><p>Подробнее</p></a></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="solutions-main__content">
              <div class="text-sm">Название</div>
              <h2 class="title-lg">Канализационная насосная станция ГЕОН-ВКНС</h2>
              <div class="text-lg">Осуществляет перекачку любых типов сточных вод</div>
              <div class="btn-wrap"><a href="#" class="btn btn-outline btn-fluid btn-icon"><p>Подробнее</p></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="solutions-second">
        <div class="solutions-second__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/solutions/1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/solutions/2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/solutions/3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/solutions/4-2.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="solutions-bottom">
        <div class="solutions-control control">
          <div class="control-arrow solutions-arrow-prev"></div>
          <div class="control-increment text-lg solutions-increment"></div>
          <div class="control-arrow solutions-arrow-next"></div>
        </div>
        <div class="solutions-next">
          <div class="text-sm">Далее</div>
          <div class="text-lg"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'components/free.html' %}

<section class="services">
  <div class="container">
    <div class="row">
      <div class="col"><h4 class="title-sm title-counter">Наши услуги</h4></div>
      <div class="col">
        <div class="title">
          <h2 class="title-lg">Глубоко погружаемся в проект и&nbsp;доводим <span>за руку</span> до результата</h2>
          <div class="text-lg">Берем на себя все функции, необходимые<br> для успешной реализации проекта</div>
        </div>
      </div>
      <div class="col-fluid">
        <div class="services-slider">
          <div class="services-slider__wrapper">
          <div class="services-item">
            <div class="services-item__img"><img src="img/services/1.jpg" alt=""></div>
            <div class="services-item__desc">
              <div class="text-sm">Название услуги</div>
              <a href="#" class="title-md">Проектирование</a>
              <div class="text-lg">Разрабатываем проектную и рабочую документацию и&nbsp;проходим экспертизу</div>
              <div class="control-arrow services-item__arrow"></div>
            </div>
          </div>
          <div class="services-item">
            <div class="services-item__img"><img src="img/services/2.jpg" alt=""></div>
            <div class="services-item__desc">
              <div class="text-sm">Название услуги</div>
              <a href="#" class="title-md">Строительство</a>
              <div class="text-lg">Осуществляем монтаж оборудования и прокладку всех инженерных сетей</div>
              <div class="control-arrow services-item__arrow"></div>
            </div>
          </div>
          <div class="services-item">
            <div class="services-item__img"><img src="img/services/3.jpg" alt=""></div>
            <div class="services-item__desc">
              <div class="text-sm">Название услуги</div>
              <a href="#" class="title-md">Пусконаладка</a>
              <div class="text-lg">Запускаем в работу очистные сооружения и&nbsp;гарантируем их надежную работу</div>
              <div class="control-arrow services-item__arrow"></div>
            </div>
          </div>
          <div class="services-item">
            <div class="services-item__img"><img src="img/services/4.jpg" alt=""></div>
            <div class="services-item__desc">
              <div class="text-sm">Название услуги</div>
              <a href="#" class="title-md">Аудит</a>
              <div class="text-lg">Проводим обследование территории, изучаем документацию, готовим заключение</div>
              <div class="control-arrow services-item__arrow"></div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="approach">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Наш подход</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Берем анализы стока, обследуем территорию, <span>моделируем очистку в&nbsp;лаборатории</span>, оцениваем результат, делаем точный расчет стоимости всего проекта</h2>
        <div class="text-lg">Мы выявляем ключевые моменты, которые в значительной степени влияют на стоимость и оптимизируем их до минимума</div>
      </div>
    </div>
  </div>
  <div class="approach-stat">
    <div class="container row">
      <div class="col"></div>
      <div class="col">
        <div class="approach-item">
          <div class="approach-item__counter">
            <h3 data-counter>28 834 000</h3>
            <h4 data-counter>м³</h4>
          </div>
          <div class="text-lg">сточных вод очищиются нашим оборудованием в год</div>
        </div>
        <div class="approach-item">
          <div class="approach-item__counter">
            <h3 data-counter>6200</h3>
            <h4 data-counter>расчетов</h4>
          </div>
          <div class="text-lg">произведено нашими проектировщиками и технологами</div>
        </div>
        <div class="approach-item">
          <div class="approach-item__counter">
            <h3 data-counter>120+</h3>
            <h4 data-counter>проектов</h4>
          </div>
          <div class="text-lg">реализовано группой компаний ГЕОН</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="plus">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Наше преимущество</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Помогаем сделать проект экономически выгодным клиенту за счет <span>глубинного погружения</span> и&nbsp;большой базы готовых решений</h2>
        <div class="text-lg">На каждом этапе работы мы предлагаем несколько вариантов решений и&nbsp;обосновываем целесообразность применения</div>
      </div>
    </div>
    <div class="col"><div class="btn-wrap"><a href="#" class="btn btn-fill btn-icon"><p>О компании</p></a></div></div>
    <div class="col"><div class="plus-image"><img src="img/plus-2.jpg" alt=""></div></div>
  </div>
</section>

<section class="projects">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Наши проекты</h4></div>
  </div>
  <div class="container">
    <div class="projects-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="projects-item">
            <img src="img/projects/1.jpg" alt="" class="projects-item__img">
            <a href="#" class="projects-item__title">Wildberries</a>
            <div class="projects-item__desc title-sm">Строительство очистных сооружений для склада Wildberries в Краснодаре</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="projects-item">
            <img src="img/projects/2.jpg" alt="" class="projects-item__img">
            <a href="#" class="projects-item__title">Доброград</a>
            <div class="projects-item__desc title-sm">Строительство очистных сооружений для особой экономической зоны «Доброград»</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="projects-item">
            <img src="img/projects/3.jpg" alt="" class="projects-item__img">
            <a href="#" class="projects-item__title">ПАО&nbsp;«ГАЗ»</a>
            <div class="projects-item__desc title-sm">Строительство очистных сооружений для ПАО «ГАЗ»</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="projects-item">
            <img src="img/projects/4.jpg" alt="" class="projects-item__img">
            <a href="#" class="projects-item__title">Новая Кузнечиха</a>
            <div class="projects-item__desc title-sm">Строительство очистных сооружений для ЖК «Новая Кузнечиха»</div>
          </div>
        </div>
      </div>
      <div class="projects-control control">
        <div class="control-arrow projects-arrow-prev"></div>
        <div class="control-increment text-lg projects-increment"></div>
        <div class="control-arrow projects-arrow-next"></div>
      </div>
    </div>
  </div>
</section>

<section class="clients">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Нам доверяют</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">К нам обращаются крупнейшие госкорпорации и компании, <span>которые умеют считать деньги</span> и&nbsp;выбирают лучшие</h2>
        <div class="text-lg">Мы даем им возможность полностью делегировать проект по строительству очистных сооружений и быть уверенными в результате</div>
      </div>
    </div>
    <div class="col-fluid">
      <ul class="clients-list">
        <li><div class="clients-logo"><img src="img/clients/1.svg" alt=""><img src="img/clients/1-color.svg" alt=""></div></li>
        <li><div class="clients-logo"><img src="img/clients/2.svg" alt=""><img src="img/clients/2-color.svg" alt=""></div></li>
        <li><div class="clients-logo"><img src="img/clients/3.svg" alt=""><img src="img/clients/3-color.svg" alt=""></div></li>
        <li><div class="clients-logo"><img src="img/clients/4.svg" alt=""><img src="img/clients/4-color.svg" alt=""></div></li>
        <li><div class="clients-logo"><img src="img/clients/5.svg" alt=""><img src="img/clients/5-color.svg" alt=""></div></li>
        <li><div class="clients-logo"><img src="img/clients/6.svg" alt=""><img src="img/clients/6-color.svg" alt=""></div></li>
        <li><div class="clients-logo"><img src="img/clients/7.svg" alt=""><img src="img/clients/7-color.svg" alt=""></div></li>
      </ul>
    </div>
  </div>
</section>

{% include 'components/consult.html' %}

{% endblock %}