{% extends 'components/_layout.html' %}
{% set site_title = 'Страница новости' %}
{% set home = false %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="news">
  <div class="container row">
    <div class="col">
      <div class="news-header">
        <h1>Специализируемся на изготовлении нестандартного оборудования</h1>
        <p class="text-lg">17:06 19.01.2022 <span>(обновлено: 18:00 19.01.2022)</span></p>
        <a href="#" class="news-next">
          <span>Следующая статья</span>
          <p>Специализируемся на изготовлении нестандартного оборудования и еще чего-нибудь</p>
          <div class="control-arrow"></div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="news-content">
        <img src="img/news.jpg" alt="" class="news-poster">
        <h2>Специализируемся на изготовлении нестандартного оборудования</h2>
        <p>Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа новых предложений.</p>
        <p>Значимость этих проблем настолько очевидна, что сложившаяся структура организации требуют от нас анализа модели развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.</p>
        <p>Товарищи! постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! укрепление и развитие структуры требуют определения и уточнения систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Таким образом укрепление и развитие структуры требуют от нас анализа систем массового участия. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании соответствующий условий активизации.</p>
        <p>Товарищи! дальнейшее развитие различных форм деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! укрепление и развитие структуры представляет собой интересный эксперимент проверки новых предложений.</p>
        <h2>Специализируемся на изготовлении нестандартного оборудования</h2>
        <p>Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа новых предложений.</p>
        <p>Значимость этих проблем настолько очевидна, что сложившаяся структура организации требуют от нас анализа модели развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.</p>
        <p>Товарищи! постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! укрепление и развитие структуры требуют определения и уточнения систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Таким образом укрепление и развитие структуры требуют от нас анализа систем массового участия. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании соответствующий условий активизации.</p>
        <p>Товарищи! дальнейшее развитие различных форм деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! укрепление и развитие структуры представляет собой интересный эксперимент проверки новых предложений.</p>
        <img src="img/news.jpg" alt="">
        <h2>Значимость этих проблем настолько очевидна</h2>
        <p>Товарищи! постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! укрепление и развитие структуры требуют определения и уточнения систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Таким образом укрепление и развитие структуры требуют от нас анализа систем массового участия. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании соответствующий условий активизации.</p>
        <p>Товарищи! дальнейшее развитие различных форм деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! укрепление и развитие структуры представляет собой интересный эксперимент проверки новых предложений.</p>
      </div>
      <div class="news-footer">
        <div class="news-share">
          <p>Поделиться</p>
          <ul class="news-share__links">
            <li><a href="viber://forward?text=URL">
              <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
                <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
                <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
              </svg>
              <img src="img/svg/viber.svg" alt="">
            </a></li>
            <li><a href="whatsapp://send?text=URL">
              <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
                <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
                <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
              </svg>
              <img src="img/svg/whatsapp.svg" alt="">
            </a></li>
            <li><a href="https://telegram.me/share/url?url=URL">
              <svg aria-hidden="true" class="progress" width="70" height="70" viewBox="0 0 70 70">
                <path class="progress__circle" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"></path>
                <path class="progress__path" d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" pathLength="1"></path>
              </svg>
              <img src="img/svg/telegram.svg" alt="">
            </a></li>
          </ul>
        </div>
        <a href="javascript:;" class="btn btn-up"><p>Наверх</p></a>
      </div>
    </div>
  </div>
</section>

{% endblock %}