{% extends 'components/_layout.html' %}
{% set site_title = 'Новости' %}
{% set home = true %}

{% block content %}

<div class="container container-lines side row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="news-hero">
  <div class="container">
    <div class="col-fluid">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">Новости</a></li>
      </ul>
      <h2 class="title-xl">Новости компании ГЕОН</h2>
    </div>
  </div>
</section>

<section class="news-list">
  <div class="container row">
    <div class="news-list__grid">
      {% include 'components/news-item.html' %}
      {% include 'components/news-item.html' %}
      {% include 'components/news-item.html' %}
      {% include 'components/news-item.html' %}
      {% include 'components/news-item.html' %}
      {% include 'components/news-item.html' %}
    </div>
  </div>
</section>

{% endblock %}