{% extends 'components/_layout.html' %}
{% set site_title = 'Новости' %}
{% set home = true %}

{% block content %}

<div class="container container-lines side row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="news-hero">
  <div class="container">
    <div class="col-fluid">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">Новости</a></li>
      </ul>
      <h2 class="title-xl">Новости компании ГЕОН</h2>
    </div>
  </div>
</section>

<section class="news-list">
  <div class="container row">
    <div class="news-list__grid">
      <div class="news-item">
        <img src="img/news.jpg" alt="" class="news-item__pic">
        <p class="text-lg">17:06 19.01.2022</p>
        <h4 class="news-item__title">Специализируемся на изготовлении нестандартного оборудования</h4>
        <p class="text-lg">Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает.</p>
        <a href="#" class="news-item__link">Читать полностью</a>
      </div>
      <div class="news-item">
        <img src="img/news.jpg" alt="" class="news-item__pic">
        <p class="text-lg">17:06 19.01.2022</p>
        <h4 class="news-item__title">Специализируемся на изготовлении нестандартного оборудования</h4>
        <p class="text-lg">Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает.</p>
        <a href="#" class="news-item__link">Читать полностью</a>
      </div>
      <div class="news-item">
        <img src="img/news.jpg" alt="" class="news-item__pic">
        <p class="text-lg">17:06 19.01.2022</p>
        <h4 class="news-item__title">Специализируемся на изготовлении нестандартного оборудования</h4>
        <p class="text-lg">Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает.</p>
        <a href="#" class="news-item__link">Читать полностью</a>
      </div>
      <div class="news-item">
        <img src="img/news.jpg" alt="" class="news-item__pic">
        <p class="text-lg">17:06 19.01.2022</p>
        <h4 class="news-item__title">Специализируемся на изготовлении нестандартного оборудования</h4>
        <p class="text-lg">Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает.</p>
        <a href="#" class="news-item__link">Читать полностью</a>
      </div>
      <div class="news-item">
        <img src="img/news.jpg" alt="" class="news-item__pic">
        <p class="text-lg">17:06 19.01.2022</p>
        <h4 class="news-item__title">Специализируемся на изготовлении нестандартного оборудования</h4>
        <p class="text-lg">Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает.</p>
        <a href="#" class="news-item__link">Читать полностью</a>
      </div>
      <div class="news-item">
        <img src="img/news.jpg" alt="" class="news-item__pic">
        <p class="text-lg">17:06 19.01.2022</p>
        <h4 class="news-item__title">Специализируемся на изготовлении нестандартного оборудования</h4>
        <p class="text-lg">Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает.</p>
        <a href="#" class="news-item__link">Читать полностью</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}