{% extends 'components/_layout.html' %}
{% set site_title = 'Проекты' %}
{% set home = false %}
{% set onepage = false %}

{% block content %}

<div class="container container-lines side row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="projects-all">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Наши проекты</h4></div>
    <div class="col">
      <div class="title title-fixWidth__1">
        <ul class="breadcrumbs">
          <li><a href="#">Главная</a></li><li><a href="#">Проекты</a></li>
        </ul>
        <h2 class="title-xl">Готовы начать работу на любом этапе и довести дело до результата</h2>
        <div class="text-lg">Лучшие представители разных сфер бизнеса уже обратились к нам и применяют наши очистные сооружения на своих объектах</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="projects-list">
      <div class="projects-item">
        <img src="img/projects/1.jpg" alt="" class="projects-item__img">
        <a href="#" class="projects-item__title"><span>Wildberries</span></a>
        <div class="projects-item__desc title-sm">Строительство очистных сооружений для склада Wildberries в Краснодаре</div>
      </div>
      <div class="projects-item">
        <img src="img/projects/2.jpg" alt="" class="projects-item__img">
        <a href="#" class="projects-item__title"><span>Доброград</span></a>
        <div class="projects-item__desc title-sm">Строительство очистных сооружений для особой экономической зоны «Доброград»</div>
      </div>
      <div class="projects-item">
        <img src="img/projects/3.jpg" alt="" class="projects-item__img">
        <a href="#" class="projects-item__title"><span>ПАО «ГАЗ»</span></a>
        <div class="projects-item__desc title-sm">Строительство очистных сооружений для ПАО «ГАЗ»</div>
      </div>
      <div class="projects-item">
        <img src="img/projects/4.jpg" alt="" class="projects-item__img">
        <a href="#" class="projects-item__title"><span>Новая Кузнечиха</span></a>
        <div class="projects-item__desc title-sm">Строительство очистных сооружений для ЖК «Новая Кузнечиха»</div>
      </div>
    </div>
    <div class="btn-wrap center">
      <a href="javascript:;" class="btn btn-up"><p>Наверх</p></a>
    </div>
  </div>
</section>

{% include 'components/consult.html' %}

{% endblock %}