{% extends 'components/_layout.html' %}
{% set site_title = 'Услуги - Строительство' %}
{% set home = true %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="services-hero" style="background-image: url(img/services-building-bg.jpg);">
  <div class="container row">
    <div class="col">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">Услуги</a></li><li><a href="#">Строительство</a></li>
      </ul>
    </div>
    <div class="col">
      <h2 class="title-xl">Строительство очистных сооружений</h2>
      <p class="text-lg">Построим, запустим очистные сооружения за 4 месяца и дадим гарантию  5 лет на работу всего оборудования</p>
      <div class="btn-wrap"><a href="#" class="btn btn-fill btn-icon"><p>Узнать стоимость</p></a></div>
    </div>
  </div>
</section>

<section class="services-think">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Думаем о клиентах</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Мы всегда учитываем задачи и интересы заказчиков, <span>строим так, как удобно и выгодно вам</span>, соблюдая требования санитарно-эпидемиологического и природоохранного законодательства</h2>
        <div class="text-lg">С увеличением темпов строительства растет потребность в очистных сооружениях. Крупные заводы-производители завышают цены, диктуют технологии и сроки поставок.</div>
      </div>
      <img src="img/services-think.jpg" alt="" class="services-think__img">
    </div>
  </div>
</section>

<section class="services-build">
  <div class="container row">
    <div class="col"></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Более 8 лет строим очистные сооружения и наружные сети <span>и знаем как делать это правильно</span></h2>
        <div class="text-lg">Проводим строительство, реконструкцию, модернизацию очистных сооружений, изготовим под заказ уникальное оборудование, заменим устаревшее, доукомплектуем имеющееся</div>
      </div>
    </div>
  </div>
</section>

{% include 'components/free.html' %}

<section class="services-analysis">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Заголовок</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Выполним все в точном соответствии с проектом и требованиями нормативных документов. <span>Сначала проводим анализ текущей ситуации, а предоставляем рекомендации по:</span></h2>
      </div>
      <ul class="list">
        <li>Технологии очистки</li>
        <li>Расположении сетей</li>
        <li>Возможностях сэкономить на строительстве</li>
        <li>Сокращении санитарно-защитной зоны</li>
        <li>Сокращении человеческих ресурсов на обслуживании</li>
      </ul>
    </div>
  </div>
</section>

<section class="services-catalog">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Оборудование</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">В своих проектах мы используем собственное сертифицированное оборудование</h2>
        <div class="text-lg">Все, что необходимо для успешной реализации проекта мы изготавливаем сами</div>
      </div>
    </div>
    <div class="col">
      <div class="catalog-item">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>Производительность до 150 л/с</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="catalog-item">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/2.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Станции биологической очистки ГЕОН-БИО</a>
          <p>Производительность до 5000 м<sup>3</sup></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="company-services">
  <div class="container row">
    <div class="col">
      <h4 class="title-sm title-counter">Заголовок</h4>
    </div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Производство строительно-монтажных работ с нулевого цикла включает</h2>
      </div>
    </div>
    <div class="col-fluid">
      <ul class="company-services__list">
        <li>Подготовку территории и земляные работы</li>
        <li>Формирование фундаментов и бетонных емкостей</li>
        <li>Изготовление и заказ оборудования</li>
        <li>Прокладка наружных сетей</li>
        <li>Монтаж технологического оборудования</li>
        <li>Организация внутриплощадочных сетей</li>
        <li>Проведение гидравлических испытаний</li>
        <li>Пусконаладочные работы</li>
        <li>Благоустройство территории</li>
      </ul>
    </div>
  </div>
</section>

<section class="services-erp services-building">
  <div class="services-erp__block">
    <div class="container row">
      <div class="services-erp__text">
        <h2 class="title-xl">Не боимся исправлять чужие ошибки, беремся за проект на любой стадии</h2>
        <p class="text-lg">Оставьте заявку и наш инженер свяжется с Вами в течение 15 минут  и рассчитает стоимость строительства Ваших очистных сооружени</p>
      </div>
      <form action="#" class="form form-black services-erp__form">
        <label class="label">
          <p>Ваше имя</p>
          <input type="text" class="input" placeholder="Александр" />
        </label>
        <label class="label">
          <p>Телефон</p>
          <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
        </label>
        <button class="btn btn-fill btn-fluid">
          <p>Оставить заявку</p>
        </button>
      </form>
    </div>
  </div>
</section>

<section class="company-about services-company-about">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">О нас</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Укомплектованный штат инженеров-строителей, рабочего персонала позволяет нам полностью погружаться в проекты любой сложности</h2>
        <div class="text-lg">вести строительство и сдавать объекты с минимальным участием заказчика</div>
      </div>
      <ul class="company-about__stat">
        <li>
          <div class="company-about__stat-counter blue">
            <h3 data-counter>37</h3>
            <h4 data-counter>дней</h4>
          </div>
          <p class="text-lg">Средний срок<br> разработки проекта</p>
        </li>
        <li>
          <div class="company-about__stat-counter">
            <h3 data-counter>18</h3>
            <h4 data-counter>инженеров</h4>
          </div>
          <p class="text-lg">Среднее количество<br> участников проекта</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="services-start">
  <div class="container row">
    <div class="col"></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Сами осуществим пусконаладку и возьмем на себя ответственность за работу оборудования</h2>
      </div>
    </div>
    <div class="col-fluid"><img src="img/services-start.jpg" alt="" class="services-start__img"></div>
  </div>
</section>

<section class="services-take">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Основные этапы аудита</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">При необходимости возьмем на себя:</h2>
      </div>
    </div>
    <div class="col-fluid">
      <div class="services-take__grid">
        <div class="services-take__item">
          <img src="img/svg/take-1.svg" alt="">
          <p>Инженерные изыскания;</p>
        </div>
        <div class="services-take__item">
          <img src="img/svg/take-2.svg" alt="">
          <p>Лабораторный анализ состава сточных вод;</p>
        </div>
        <div class="services-take__item">
          <img src="img/svg/take-3.svg" alt="">
          <p>Разработку и корректировку технологических решений; </p>
        </div>
        <div class="services-take__item">
          <img src="img/svg/take-4.svg" alt="">
          <p>Проектирование и составление смет;</p>
        </div>
        <div class="services-take__item">
          <img src="img/svg/take-5.svg" alt="">
          <p>Экспертизу проектной документации;</p>
        </div>
        <div class="services-take__item">
          <img src="img/svg/take-6.svg" alt="">
          <p>Авторский надзор;</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'components/company-map.html' %}

<section class="services-faq" style="padding-top: 0;">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">FAQ</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Выгодное строительство очистных сооружений с «ГЕОН»</h2>
        <div class="text-lg">Найдем выход из любой ситуации, проблемы решаем в комплексе, за результат несем ответственность. Наш опыт и компетенции в строительстве дают четкие  преимущества:</div>
      </div>
      <div class="services-faq__list">
        <div class="services-faq__item">
          <div class="services-faq__title">Гибкий подход к каждому клиенту.</div>
          <div class="services-faq__text text-lg">Проектирование и строительство очистных сооружений сточных вод по всей России и СНГ</div>
        </div>
        <div class="services-faq__item">
          <div class="services-faq__title">Надежные высокопрочные материалы, отвечающие конкретным целям.</div>
          <div class="services-faq__text text-lg">Проектирование и строительство очистных сооружений сточных вод по всей России и СНГ</div>
        </div>
        <div class="services-faq__item">
          <div class="services-faq__title">Любой уровень сложности. </div>
          <div class="services-faq__text text-lg">Проектирование и строительство очистных сооружений сточных вод по всей России и СНГ</div>
        </div>
        <div class="services-faq__item">
          <div class="services-faq__title">Учет пожеланий заказчика. </div>
          <div class="services-faq__text text-lg">Согласуем конструкцию, комплектацию инженерных сооружений, следим за качеством очистки воды.</div>
        </div>
        <div class="services-faq__item">
          <div class="services-faq__title">Снижение стоимости выполняемых работ до 30%.</div>
          <div class="services-faq__text text-lg">Проектирование и строительство очистных сооружений сточных вод по всей России и СНГ</div>
        </div>
        <div class="services-faq__item">
          <div class="services-faq__title">Увеличение скорости благодаря оптимизации всех этапов работ. </div>
          <div class="services-faq__text text-lg">Проектирование и строительство очистных сооружений сточных вод по всей России и СНГ</div>
        </div>
        <div class="services-faq__item">
          <div class="services-faq__title">Чистая вода на выходе. </div>
          <div class="services-faq__text text-lg">Проектирование и строительство очистных сооружений сточных вод по всей России и СНГ</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'components/company-brands.html' %}

{% include 'components/company-sertificate.html' %}

<section class="consult">
  <div class="container row">
    <div class="col">
      <div class="consult-man">
        <div class="consult-man__img"><img src="img/man-4.jpg" alt=""></div>
        <div class="consult-man__desc">
          <div class="text-lg">Вздыхалин Юрий</div>
          <div class="text-sm">Технический директор</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="consult-content">
        <h2 class="title-xl">Очистим ваши стоки до требуемых норм</h2>
        <div class="text-lg">Оставьте заявку на сайте, наш менеджер свяжется с вами в течение 15 минут и пришлет план работ с точными сроками</div>
        <form action="#" class="form">
          <label class="label">
            <p>Ваше имя</p>
            <input type="text" class="input" placeholder="Александр" />
          </label>
          <label class="label">
            <p>Телефон</p>
            <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
          </label>
          <button class="btn btn-fluid btn-white btn-icon"><p>Позвонить</p></button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}