{% extends 'components/_layout.html' %}
{% set site_title = 'Услуги - Проектирование' %}
{% set home = true %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="services-hero" style="background-image: url(img/services-design-bg.jpg);">
  <div class="container row">
    <div class="col">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">Услуги</a></li><li><a href="#">Проектирование</a></li>
      </ul>
    </div>
    <div class="col">
      <h2 class="title-xl">Проектирование очистных сооружений сточных вод</h2>
      <p class="text-lg">Сделаем проект «под ключ» с гарантией прохождения экспертизы и полностью вернем деньги за него</p>
      <div class="btn-wrap"><a href="#" class="btn btn-fill btn-icon"><p>Рассчитать стоимость</p></a></div>
    </div>
  </div>
</section>

<section class="company-about">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">О проектировании</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Проектирование — основа при&nbsp;строительстве очистных сооружений канализации</h2>
        <div class="text-lg">которая дает подробное технологическое<br> и экономическое обоснование всего проекта</div>
      </div>
      <ul class="company-about__stat">
        <li>
          <div class="company-about__stat-counter blue">
            <h3 data-counter>37</h3>
            <h4 data-counter>дней</h4>
          </div>
          <p class="text-lg">Средний срок<br> разработки проекта</p>
        </li>
        <li>
          <div class="company-about__stat-counter">
            <h3 data-counter>18</h3>
            <h4 data-counter>инженеров</h4>
          </div>
          <p class="text-lg">Среднее количество<br> участников проекта</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="services-catalog">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Оборудование</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">В своих проектах мы используем собственное сертифицированное оборудование</h2>
        <div class="text-lg">Все, что необходимо для успешной реализации<br> проекта мы изготавливаем сами</div>
      </div>
    </div>
    <div class="col">
      <div class="catalog-item">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/1.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Ливневые очистные сооружения ГЕОН-ЛОС</a>
          <p>Производительность до 150 л/с</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="catalog-item">
         <div class="catalog-item__img"><a href="#" class="catalog-item__arrow"></a><img src="img/catalog/3.png" alt=""></div>
        <div class="catalog-item__info">
          <a href="#">Станции биологической очистки ГЕОН-БИО</a>
          <p>Производительность до 5000 м<sup>3</sup></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="company-work">
  <div class="container">
    <div class="company-work__wrapper row">
      <div class="company-work__content">
        <h4 class="title-sm title-counter">Как мы работаем</h4>
        <div class="company-work__item">
          <h2 class="title-lg">На первом этапе проводим предпроектное обследование и определяем границы и ограничения. <span>Берем анализы стока</span> и определяем расположение и тип оборудования</h2>
          <p class="text-lg">На основании исследования и аналитического отчета готовим описание технологии очистки и рассчитываем стоимость очистных сооружений. Понимая объем работ, мы можем составить четкий план проектирования и строительства для формирования общих сроков проекта.</p>
        </div>
        <div class="company-work__item">
          <h2 class="title-lg">Точный анализ стока позволяет не ошибиться с технологией</h2>
          <p class="text-lg">Отбор осуществляем стеклянными затемненными емкостями с крышками из жесткого пластика, снабженными нейтральными прокладками</p>
        </div>
        <div class="company-work__item">
          <h2 class="title-lg"><span>Проводим лабораторное моделирование</span> очистки, чтобы убедиться в работоспособности выбранной технологии</h2>
          <p class="text-lg">Для нестандартных стоков мы изготавливаем тестовую станцию очистки и проводим демонстрацию работы для клиента</p>
        </div>
        <div class="company-work__item">
          <h2 class="title-lg">Пишем подробное ТЗ</h2>
          <p class="text-lg">Без правильного технического задания результат может оказаться непредсказуемым</p>
        </div>
        <div class="company-work__item">
          <h2 class="title-lg">Далее проводя инженерные изыскания, мы получаем всю информацию о составе грунта и подземных вод</h2>
          <p class="text-lg">Это обязательная часть проекта, обеспечивающая комплексное изучение природных условий территории и факторов техногенного воздействия очистные сооружения</p>
        </div>
      </div>
      <div class="company-work__images"></div>
    </div>
  </div>
</div>

<section class="services-cleaning">
  <div class="container row">
    <div class="col"></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Технология очистки — ключевой раздел, влияющий на успех всего проекта</h2>
        <div class="text-lg">Наличие неточных расчетов в ТХ может повлечь<br> за собой переделку всего проекта</div>
      </div>
    </div>
    <div class="col-fluid"><img src="img/services-cleaning.jpg" alt="" class="services-cleaning__img"></div>
  </div>
</section>

<section class="services-steps">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Беремся за все этапы</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Только после получения всех необходимых данных <span>разрабатываем проектную документацию</span></h2>
        <div class="text-lg">Основываясь только на полных данных мы можем гарантировать верность наших проектных решений</div>
      </div>
    </div>
  </div>
  <div class="container row row-stretch">
    <div class="col">
      <div class="services-steps__images">
        <img src="img/services-steps-1.png" alt="">
        <img src="img/services-steps-2.png" alt="">
        <img src="img/services-steps-3.png" alt="">
        <img src="img/services-steps-4.png" alt="">
      </div>
    </div>
    <div class="col">
      <ul class="services-steps__list">
        <li class="active">
          <b>Согласование Точки сброса сточных вод</b>
          <p>Согласуем сброс в водный объект в Федеральном агентстве водных ресурсов</p>
          <img src="img/services-steps-1.png" alt="">
        </li>
        <li>
          <b>Сокращение СЗЗ</b>
          <p>Законно обоснуем уменьшение размера санитарно-защитной зоны</p>
          <img src="img/services-steps-2.png" alt="">
        </li>
        <li>
          <b>Оценки воздействия на окружающую среду</b>
          <p>Выявим и учтем прямые, косвенные и иные последствия воздействия на окружающую среду</p>
          <img src="img/services-steps-3.png" alt="">
        </li>
        <li>
          <b>Межевание участка</b>
          <p>Установим границы земельного участка, закрепим на местности, а также определим его местоположение и площадь</p>
          <img src="img/services-steps-4.png" alt="">
        </li>
      </ul>
    </div>
  </div>
</section>

{% include 'components/services-survey.html' %}

<section class="services-manager">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Персональный менеджер</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Вы будете работать с одним руководителем проекта на протяжении всего срока договора</h2>
        <div class="text-lg">Наличие персонального менеджера дает возможность оперативно получать всю информацию по состоянию проекта</div>
      </div>
      <img src="img/services-manager.jpg" alt="" class="services-manager__img">
    </div>
  </div>
</section>

<section class="services-team">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Большой ресурс</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Также у нас развитая партнерская сеть проектировщиков. <span>На ваш проект мы единовременно можем выделить до 60 инженеров</span></h2>
      </div>
      <div class="row">
        <div class="services-team__item">
          <img src="img/team/5.jpg" alt="">
          <p class="text-lg">Седов Сергей</p>
          <p class="text-sm">Главный инженер проекта</p>
        </div>
        <div class="services-team__item">
          <img src="img/team/4.jpg" alt="">
          <p class="text-lg">Лазарев Михаил</p>
          <p class="text-sm">Главный инженер проекта</p>
        </div>
        <div class="services-team__item">
          <img src="img/team/9.jpg" alt="">
          <p class="text-lg">Тощев Дмитрий</p>
          <p class="text-sm">Руководитель проектной группы</p>
        </div>
        <div class="services-team__item">
          <div class="services-team__circle">+57</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services-erp">
  <div class="container row">
    <div class="col"></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Все процессы в компании выстроены и контролируются <span>в единой ERP-системе</span></h2>
      </div>
      <img src="img/services-erp.png" alt="" class="services-erp__img">
    </div>
  </div>
  <div class="services-erp__block">
    <div class="container row">
      <div class="services-erp__text">
        <div class="services-erp__badge">Быстро включимся на любом этапе</div>
        <h2 class="title-xl">Если вы только планируете строительство или уже работаете над проектом — оставляйте заявку</h2>
        <p class="text-lg">мы готовы принять работу и довести ее до результата.</p>
      </div>
      <form action="#" class="form form-black services-erp__form">
        <label class="label">
          <p>Ваше имя</p>
          <input type="text" class="input" placeholder="Александр" />
        </label>
        <label class="label">
          <p>Телефон</p>
          <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
        </label>
        <label class="label">
          <p>Ваш вопрос</p>
          <input type="text" class="input" placeholder="Напишите свой вопрос" />
        </label>
        <button class="btn btn-fill btn-fluid btn-icon">
          <p>Отправить</p>
        </button>
      </form>
    </div>
  </div>
</section>

<section class="services-faq">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">FAQ</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Часто задаваемые вопросы</h2>
      </div>
      <div class="services-faq__list">
        <div class="services-faq__item">
          <div class="services-faq__title">Из каких разделов будет состоять проект?</div>
          <div class="services-faq__text text-lg">Состав проекта готовится в соответствии с 87 постановлением Правительства РФ</div>
        </div>
        <div class="services-faq__item">
          <div class="services-faq__title">От чего зависит стоимость проекта?</div>
          <div class="services-faq__text text-lg">Стоимость проекта в первую очередь будет зависеть от производительности очистных сооружений, длины инженерных сетей, объема изыскательских работ, прохождения экспертизы проектной документации</div>
        </div>
        <div class="services-faq__item">
          <div class="services-faq__title">Почему такие короткие сроки?</div>
          <div class="services-faq__text text-lg">Большая база готовых решений дает возможность сокращать сроки проектирования в 2-3 раза</div>
        </div>
        <div class="services-faq__item">
          <div class="services-faq__title">Можно ли использовать оборудование, которое у нас уже установлено?</div>
          <div class="services-faq__text text-lg">Да. В рамках предпроектных работ мы обследуем действующее оборудование, проводим аудит и делаем заключение о возможности его применения в проекте</div>
        </div>
        <div class="services-faq__item">
          <div class="services-faq__title">Какую экспертизу проходит документация?</div>
          <div class="services-faq__text text-lg">Коммерческую и государственную, включая Главгосэкспертизу России</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'components/company-brands.html' %}

{% include 'components/company-sertificate.html' %}

<section class="consult">
  <div class="container row">
    <div class="col">
      <div class="consult-man">
        <div class="consult-man__img"><img src="img/man-2.jpg" alt=""></div>
        <div class="consult-man__desc">
          <div class="text-lg">Михаил Лазарев</div>
          <div class="text-sm">Главный инженер проекта</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="consult-content">
        <h2 class="title-xl">Остались<br> вопросы? Задайте<br> их нашему ГИПу</h2>
        <form action="#" class="form">
          <label class="label">
            <p>Ваше имя</p>
            <input type="text" class="input" placeholder="Александр" />
          </label>
          <label class="label">
            <p>Телефон</p>
            <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
          </label>
          <button class="btn btn-fluid btn-white btn-icon"><p>Позвонить</p></button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}