{% extends 'components/_layout.html' %}
{% set site_title = 'Услуги - Аудит' %}
{% set home = true %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="services-hero" style="background-image: url(img/services-audit-bg.jpg);">
  <div class="container row">
    <div class="col">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">Услуги</a></li><li><a href="#">Аудит</a></li>
      </ul>
    </div>
    <div class="col">
      <h2 class="title-xl">Проведем комплексный аудит очистных сооружений</h2>
      <p class="text-lg">Оценим работу всей технологической системы, выявим отклонения, предложим оптимальные решения</p>
      <div class="btn-wrap"><a href="#" class="btn btn-fill btn-icon"><p>Узнать стоимость</p></a></div>
    </div>
  </div>
</section>

<section class="services-audit__target">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Цель</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Главная цель аудита — <span>снижение инвестиций на реконструкцию</span></h2>
        <div class="text-lg">Если вы стоите перед выбором — модернизировать действующие очистные сооружения или строить новые, то аудит и полученное технико-экономическое обоснование проекта ответит на этот и другие вопросы:</div>
      </div>
      <ul class="list">
        <li><span>Как повысить производительность существующей системы?</span></li>
        <li><span>Как обеспечить максимальную энергоэффективность схем очистки стоков?</span></li>
        <li><span>Какие технологии выбрать, чтобы уложиться в планируемый бюджет реконструкции ОС?</span></li>
        <li><span>Как исключить ненормативные сбросы неочищенных стоков и штрафы от надзорных органов?</span></li>
      </ul>
    </div>
  </div>
</section>

<section class="services-audit__conclusion">
  <div class="container row">
    <div class="col"></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Подробное заключение предпроектного аудита укажет на <span>уровень износа ОС, отклонения показателей стоков от экологических нормативов</span> и будет основанием для принятия решения о реконструкции или замене очистных сооружений на новые</h2>
      </div>
    </div>
    <div class="col-fluid"><img src="img/services-audit-conclusion.jpg" alt="" class="services-audit__conclusion-image"></div>
  </div>
</section>

{% include 'components/services-survey.html' %}

<section class="services-audit">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Основные этапы аудита</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg">Сюда бы немного текста <span>в две-три строчки</span> примерно, чтобы отделялось</h2>
        <div class="text-lg">Сюда бы немного текста в две-три строчки примерно, чтобы отделялось</div>
      </div>
    </div>
    <div class="col-fluid">
      <div class="services-audit__row">
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg></svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">Анализ<br> сточных вод</h3>
            <p class="text-lg">Проверка текущих показателей на соответствие нормативным требованиям</p>
          </div>
        </div>
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg></svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">Оценка эффективности работы ОС</h3>
            <p class="text-lg">Аудит всех узлов системы, выявление дефектов и причин неисправностей</p>
          </div>
        </div>
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg></svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">Проверка<br> параметров работы ОС</h3>
            <p class="text-lg">Сравнение фактической производительности с проектной, анализ схем очистки стоков, исследования исходных сточных вод и очищенных</p>
          </div>
        </div>
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg></svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">Подготовка<br> оптимального решения</h3>
            <p class="text-lg">Предложения по изменению схем и технологий очистки, повышению производительности оборудования</p>
          </div>
        </div>
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg></svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">Пилотные<br> испытания</h3>
            <p class="text-lg">Проводятся на опытном оборудовании для действующих очистных сооружений</p>
          </div>
        </div>
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg></svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">ТЭО принятых<br> решений</h3>
            <p class="text-lg">Подготовка обоснованных заключений по каждому направлению проведенных работ и презентация отчета заказчику</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'components/company-map.html' %}

{% include 'components/company-brands.html' %}

{% include 'components/company-sertificate.html' %}

<section class="consult">
  <div class="container row">
    <div class="col">
      <div class="consult-man">
        <div class="consult-man__img"><img src="img/man-4.jpg" alt=""></div>
        <div class="consult-man__desc">
          <div class="text-lg">Вздыхалин Юрий</div>
          <div class="text-sm">Технический директор</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="consult-content">
        <h2 class="title-xl">Очистим ваши стоки до требуемых норм</h2>
        <div class="text-lg">Оставьте заявку на сайте, наш менеджер свяжется с вами в течение 15 минут и пришлет план работ с точными сроками</div>
        <form action="#" class="form">
          <label class="label">
            <p>Ваше имя</p>
            <input type="text" class="input" placeholder="Александр" />
          </label>
          <label class="label">
            <p>Телефон</p>
            <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
          </label>
          <button class="btn btn-fluid btn-white btn-icon"><p>Позвонить</p></button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}