{% extends 'components/_layout.html' %}
{% set site_title = 'Услуги - Аудит' %}
{% set home = true %}
{% set onepage = false %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="services-hero" style="background-image: url(img/services-audit-bg.jpg);">
  <div class="container row">
    <div class="col">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">Услуги</a></li><li><a href="#">Аудит</a></li>
      </ul>
    </div>
    <div class="col">
      <h2 class="title-xl" data-animate-title>Проведем комплексный аудит очистных сооружений</h2>
      <p class="text-lg" data-aos="fade-up">Оценим работу всей технологической системы, выявим отклонения, предложим оптимальные решения</p>
      <div class="btn-wrap"><a href="#popup:marquiz_63ba6f0b1db914004fcdc0f3" class="btn btn-fill btn-icon" data-aos="fade-up" data-aos-delay="400"><p>Рассчитать стоимость</p></a></div>
    </div>
  </div>
</section>

<section class="services-audit__target">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Цель</h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg" data-animate-title>Главная цель аудита — <span>снижение инвестиций на реконструкцию</span></h2>
        <div class="text-lg" data-aos="fade-up">Если вы стоите перед выбором — модернизировать действующие очистные сооружения или строить новые, то аудит и полученное технико-экономическое обоснование проекта ответит на этот и другие вопросы:</div>
      </div>
      <ul class="list">
        <li data-aos="fade-up"><span>Как повысить производительность существующей системы?</span></li>
        <li data-aos="fade-up"><span>Как обеспечить максимальную энергоэффективность схем очистки стоков?</span></li>
        <li data-aos="fade-up"><span>Какие технологии выбрать, чтобы уложиться в планируемый бюджет реконструкции ОС?</span></li>
        <li data-aos="fade-up"><span>Как исключить ненормативные сбросы неочищенных стоков и штрафы от надзорных органов?</span></li>
      </ul>
    </div>
  </div>
</section>

<section class="services-audit__conclusion">
  <div class="container row">
    <div class="col"></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg" data-animate-title>Подробное заключение предпроектного аудита укажет на <span>уровень износа ОС, отклонения показателей стоков от экологических нормативов</span> и будет основанием для принятия решения о реконструкции или замене очистных сооружений на новые</h2>
      </div>
    </div>
    <div class="col-fluid"><img src="img/services-audit-conclusion.jpg" alt="" class="services-audit__conclusion-image" data-aos="fade-up" data-aos-offset="120"></div>
  </div>
</section>

<section class="services-audit__solution">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Аудит от «ГЕОН» </h4></div>
    <div class="col">
      <div class="title">
        <h2 class="title-lg" data-animate-title>Аудит от «ГЕОН» — гибкие решения <span>под ваш бюджет</span></h2>
        <div class="text-lg" data-aos="fade-up">Основываясь только на полных данных мы можем гарантировать верность наших проектных решений</div>
      </div>
      <ul class="services-audit__list">
        <li data-aos="fade-up">
          <b>Снижение вложений</b>
          <p>Максимально используем имеющееся оборудование клиента. Предлагаем варианты с учетом бюджета — от решений в бетоне до полностью автоматизированного оборудования из нержавеющей стали.</p>
          <span>от 20%</span>
        </li>
        <li data-aos="fade-up">
          <b>Оптимизация эксплуатационных расходов </b>
          <p>Снижение энергопотребления за счет оптимизации режимов работы ОС.</p>
          <span>от 20%</span>
        </li>
        <li data-aos="fade-up">
          <b>Рост производительности </b>
          <p>Подберем подходящие технологии и дооборудуем современными электрофлотаторами и системами аэрации.</p>
          <span>от 25%</span>
        </li>
      </ul>
    </div>
  </div>
</section>

{% include 'components/services-survey.html' %}

<section class="services-audit">
  <div class="container row">
    <div class="col"><h4 class="title-sm title-counter">Основные этапы аудита</h4></div>
    <div class="col">
      <div class="title title-fixWidth__1">
        <h2 class="title-lg" data-animate-title>Вы получите официальное заключение, в котором будут учтены все пожелания и предложено экономически выгодное решение</h2>
        <div class="text-lg" data-aos="fade-up">Данное заключение можно использовать для подачи в госорганы и министерства для обоснования выделения бюджета</div>
      </div>
    </div>
    <div class="col-fluid">
      <div class="services-audit__row">
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="44" cy="44" r="42.5" stroke="#0071FE" stroke-width="3"/>
              <path d="M44 18.4555V2.19995C49.4893 2.19995 54.9248 3.28114 59.9962 5.38179C62.5144 6.42485 64.9183 7.70913 67.1757 9.2131M44 18.4555L57.0737 5.38179M44 18.4555V32.3888M44 32.3888V43.9999H46.3222M44 32.3888L67.1757 9.2131M67.1757 9.2131C69.4646 10.738 71.6029 12.4887 73.5571 14.4429C77.4386 18.3244 80.5175 22.9324 82.6182 28.0038C84.7188 33.0752 85.8 38.5107 85.8 44H72.6M46.3222 43.9999L73.5571 16.7651M46.3222 43.9999L59.4 43.9999M59.4 43.9999L79.2 24.1999M59.4 43.9999L72.6 44M72.6 44L83.6 33" stroke="#0071FE" stroke-width="3"/>
            </svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">Анализ<br> сточных вод</h3>
            <p class="text-lg">Проверка текущих показателей на соответствие нормативным требованиям</p>
          </div>
        </div>
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg width="88" height="85" viewBox="0 0 88 85" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.97754 23.7176L9.39327 23.674M1.97754 23.7176L23.236 1.97647M1.97754 23.7176V12.8471M65.7528 1.97647H86.0225V23.2235L65.7528 23.3427M65.7528 1.97647H51.4157M65.7528 1.97647V16.3059M65.7528 23.3427L59.8202 23.3776M65.7528 23.3427V16.3059M31.6405 1.97647V7.90588M31.6405 1.97647H39.0562M31.6405 1.97647L9.39327 23.674M31.6405 1.97647H23.236M31.6405 23.5433L47.4607 23.4502M31.6405 23.5433L19.7753 23.613M31.6405 23.5433V11.8588M31.6405 7.90588L47.4607 23.4502M31.6405 7.90588V11.8588M47.4607 23.4502L59.8202 23.3776M39.0562 1.97647L59.8202 23.3776M39.0562 1.97647H51.4157M51.4157 1.97647L65.7528 16.3059M19.7753 23.613L31.6405 11.8588M19.7753 23.613L9.39327 23.674M23.236 1.97647H12.6068M1.97754 12.8471V1.97647H12.6068M1.97754 12.8471L12.6068 1.97647" stroke="#0071FE" stroke-width="3" stroke-linejoin="round"/>
              <path d="M1.97754 53.3647L9.39327 53.3211L14.8315 53.2601M1.97754 53.3647L26.6966 31.6235M1.97754 53.3647V42.4941M60.809 31.6235H86.0225V52.8706L60.809 52.9898M60.809 31.6235H46.4719M60.809 31.6235V45.9529M60.809 52.9898L54.8764 53.0246M60.809 52.9898V45.9529M26.6966 31.6235V37.5529M26.6966 31.6235H34.1124M26.6966 31.6235H14.8315M26.6966 53.1903L42.5169 53.0973M26.6966 53.1903L14.8315 53.2601M26.6966 53.1903V41.5059M26.6966 37.5529L42.5169 53.0973M26.6966 37.5529V41.5059M42.5169 53.0973L54.8764 53.0246M34.1124 31.6235L54.8764 53.0246M34.1124 31.6235H46.4719M46.4719 31.6235L60.809 45.9529M14.8315 53.2601L26.6966 41.5059M1.97754 42.4941V31.6235H14.8315M1.97754 42.4941L14.8315 31.6235" stroke="#0071FE" stroke-width="3" stroke-linejoin="round"/>
              <path d="M1.97754 83.0118L9.39327 82.9682L14.8315 82.9071L20.7641 82.8374M1.97754 83.0118V72.1412M1.97754 83.0118L20.7641 69.1765M54.8764 61.2706H86.0225V82.5176L54.8764 82.6368M54.8764 61.2706H40.5393M54.8764 61.2706V75.6M54.8764 82.6368L48.9438 82.6717M54.8764 82.6368V75.6M20.7641 61.2706V65.2235M20.7641 61.2706H27.6854M20.7641 61.2706H17.3034M20.7641 82.8374L36.5843 82.7444M20.7641 82.8374V71.1529V69.1765M20.7641 65.2235L36.5843 82.7444M20.7641 65.2235V69.1765M36.5843 82.7444L48.9438 82.6717M27.6854 61.2706L48.9438 82.6717M27.6854 61.2706H40.5393M40.5393 61.2706L54.8764 75.6M1.97754 72.1412V61.2706H17.3034M1.97754 72.1412L17.3034 61.2706" stroke="#0071FE" stroke-width="3" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">Оценка эффективности работы ОС</h3>
            <p class="text-lg">Аудит всех узлов системы, выявление дефектов и причин неисправностей</p>
          </div>
        </div>
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg width="109" height="93" viewBox="0 0 109 93" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.5 84.3226H103.694M103.694 84.3226L92.3387 90V78.6451L103.694 84.3226Z" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M4.33887 30.3871V70.129" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M15.6934 36.0646V70.1291" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M27.0483 24.7097V70.1291" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M38.4033 13.3549V70.1291" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M49.7583 2V70.129" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M61.1128 24.7097V70.1291" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M72.4678 30.3871V70.129" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M83.8228 24.7097V70.1291" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M95.1772 36.0646V70.1291" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M106.532 47.4193V70.129" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
            </svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">Проверка<br> параметров работы ОС</h3>
            <p class="text-lg">Сравнение фактической производительности с проектной, анализ схем очистки стоков, исследования исходных сточных вод и очищенных</p>
          </div>
        </div>
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="path-1-inside-1_2239_20297" fill="white">
                <rect x="24.4443" width="39.1111" height="14.6667" rx="0.5"/>
              </mask>
              <rect x="24.4443" width="39.1111" height="14.6667" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-1-inside-1_2239_20297)"/>
              <path d="M29.687 43.6465L43.6466 29.6869C43.8419 29.4917 44.1585 29.4917 44.3537 29.6869L58.3133 43.6465C58.5085 43.8418 58.5085 44.1583 58.3133 44.3536L44.3537 58.3132C44.1585 58.5084 43.8419 58.5084 43.6466 58.3132L29.687 44.3536C29.4918 44.1583 29.4918 43.8418 29.687 43.6465Z" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M22.9444 75.7778C22.9444 81.6995 18.1439 86.5 12.2222 86.5C6.3005 86.5 1.5 81.6995 1.5 75.7778C1.5 69.856 6.3005 65.0555 12.2222 65.0555C18.1439 65.0555 22.9444 69.856 22.9444 75.7778Z" stroke="#0071FE" stroke-width="3"/>
              <rect x="65.0557" y="65.0555" width="21.4444" height="21.4444" stroke="#0071FE" stroke-width="3"/>
              <path d="M44 14.6666V29.3333" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M29.3333 44H12.7222C12.446 44 12.2222 44.2239 12.2222 44.5V66" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <path d="M58.6665 44H75.2776C75.5538 44 75.7776 44.2239 75.7776 44.5V66" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
            </svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">Подготовка<br> оптимального решения</h3>
            <p class="text-lg">Предложения по изменению схем и технологий очистки, повышению производительности оборудования</p>
          </div>
        </div>
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg width="93" height="91" viewBox="0 0 93 91" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.5 1.5V89C1.5 89.2761 1.72386 89.5 2 89.5H89.5" stroke="#0071FE" stroke-width="3" stroke-linecap="round"/>
              <circle cx="22.2058" cy="68.7941" r="11.4412" stroke="#0071FE" stroke-width="3"/>
              <path d="M54.353 27.3823C54.353 36.56 46.913 43.9999 37.7353 43.9999C28.5576 43.9999 21.1177 36.56 21.1177 27.3823C21.1177 18.2046 28.5576 10.7646 37.7353 10.7646C46.913 10.7646 54.353 18.2046 54.353 27.3823Z" stroke="#0071FE" stroke-width="3"/>
              <path d="M64.7057 68.7941C64.7057 72.254 61.9009 75.0588 58.441 75.0588C54.9811 75.0588 52.1763 72.254 52.1763 68.7941C52.1763 65.3342 54.9811 62.5294 58.441 62.5294C61.9009 62.5294 64.7057 65.3342 64.7057 68.7941Z" stroke="#0071FE" stroke-width="3"/>
              <path d="M90.5883 61.0294C90.5883 63.0598 88.9423 64.7058 86.9118 64.7058C84.8814 64.7058 83.2354 63.0598 83.2354 61.0294C83.2354 58.9989 84.8814 57.3529 86.9118 57.3529C88.9423 57.3529 90.5883 58.9989 90.5883 61.0294Z" stroke="#0071FE" stroke-width="3"/>
              <circle cx="73.9708" cy="32.5588" r="6.26471" stroke="#0071FE" stroke-width="3"/>
            </svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">Пилотные<br> испытания</h3>
            <p class="text-lg">Проводятся на опытном оборудовании для действующих очистных сооружений</p>
          </div>
        </div>
        <div class="services-audit__item">
          <div class="services-audit__icon">
            <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="path-1-inside-1_2239_20312" fill="white">
                <rect x="78.2222" y="78.2222" width="9.77778" height="9.77778" rx="0.5"/>
              </mask>
              <rect x="78.2222" y="78.2222" width="9.77778" height="9.77778" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-1-inside-1_2239_20312)"/>
              <mask id="path-2-inside-2_2239_20312" fill="white">
                <rect x="63.5557" y="78.2222" width="9.77778" height="9.77778" rx="0.5"/>
              </mask>
              <rect x="63.5557" y="78.2222" width="9.77778" height="9.77778" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-2-inside-2_2239_20312)"/>
              <mask id="path-3-inside-3_2239_20312" fill="white">
                <rect x="78.2222" y="63.5555" width="9.77778" height="9.77778" rx="0.5"/>
              </mask>
              <rect x="78.2222" y="63.5555" width="9.77778" height="9.77778" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-3-inside-3_2239_20312)"/>
              <mask id="path-4-inside-4_2239_20312" fill="white">
                <rect x="78.2222" y="48.8889" width="9.77778" height="9.77778" rx="0.5"/>
              </mask>
              <rect x="78.2222" y="48.8889" width="9.77778" height="9.77778" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-4-inside-4_2239_20312)"/>
              <mask id="path-5-inside-5_2239_20312" fill="white">
                <rect x="63.5557" y="34.2222" width="24.4444" height="9.77778" rx="0.5"/>
              </mask>
              <rect x="63.5557" y="34.2222" width="24.4444" height="9.77778" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-5-inside-5_2239_20312)"/>
              <mask id="path-6-inside-6_2239_20312" fill="white">
                <rect x="34.2222" y="78.2222" width="24.4444" height="9.77778" rx="0.5"/>
              </mask>
              <rect x="34.2222" y="78.2222" width="24.4444" height="9.77778" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-6-inside-6_2239_20312)"/>
              <mask id="path-7-inside-7_2239_20312" fill="white">
                <rect x="34.2222" y="48.8889" width="24.4444" height="24.4444" rx="0.5"/>
              </mask>
              <rect x="34.2222" y="48.8889" width="24.4444" height="24.4444" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-7-inside-7_2239_20312)"/>
              <mask id="path-8-inside-8_2239_20312" fill="white">
                <rect y="48.8889" width="29.3333" height="39.1111" rx="0.5"/>
              </mask>
              <rect y="48.8889" width="29.3333" height="39.1111" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-8-inside-8_2239_20312)"/>
              <mask id="path-9-inside-9_2239_20312" fill="white">
                <rect width="29.3333" height="44" rx="0.5"/>
              </mask>
              <rect width="29.3333" height="44" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-9-inside-9_2239_20312)"/>
              <mask id="path-10-inside-10_2239_20312" fill="white">
                <rect x="34.2222" width="24.4444" height="29.3333" rx="0.5"/>
              </mask>
              <rect x="34.2222" width="24.4444" height="29.3333" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-10-inside-10_2239_20312)"/>
              <mask id="path-11-inside-11_2239_20312" fill="white">
                <rect x="34.2222" y="34.2222" width="24.4444" height="9.77778" rx="0.5"/>
              </mask>
              <rect x="34.2222" y="34.2222" width="24.4444" height="9.77778" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-11-inside-11_2239_20312)"/>
              <mask id="path-12-inside-12_2239_20312" fill="white">
                <rect x="63.5557" y="19.5555" width="24.4444" height="9.77778" rx="0.5"/>
              </mask>
              <rect x="63.5557" y="19.5555" width="24.4444" height="9.77778" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-12-inside-12_2239_20312)"/>
              <mask id="path-13-inside-13_2239_20312" fill="white">
                <rect x="63.5557" width="24.4444" height="14.6667" rx="0.5"/>
              </mask>
              <rect x="63.5557" width="24.4444" height="14.6667" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-13-inside-13_2239_20312)"/>
              <mask id="path-14-inside-14_2239_20312" fill="white">
                <rect x="63.5557" y="48.8889" width="9.77778" height="9.77778" rx="0.5"/>
              </mask>
              <rect x="63.5557" y="48.8889" width="9.77778" height="9.77778" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-14-inside-14_2239_20312)"/>
              <mask id="path-15-inside-15_2239_20312" fill="white">
                <rect x="63.5557" y="63.5555" width="9.77778" height="9.77778" rx="0.5"/>
              </mask>
              <rect x="63.5557" y="63.5555" width="9.77778" height="9.77778" rx="0.5" stroke="#0071FE" stroke-width="6" mask="url(#path-15-inside-15_2239_20312)"/>
            </svg>
          </div>
          <div class="services-audit__text">
            <h3 class="title-md">ТЭО принятых<br> решений</h3>
            <p class="text-lg">Подготовка обоснованных заключений по каждому направлению проведенных работ и презентация отчета заказчику</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'components/company-map.html' %}

{% include 'components/company-brands.html' %}

{% include 'components/company-sertificate.html' %}

<section class="consult">
  <div class="container row">
    <div class="col">
      <div class="consult-man">
        <div class="consult-man__img"><img src="img/man-4.jpg" alt=""></div>
        <div class="consult-man__desc">
          <div class="text-lg">Вздыхалин Юрий</div>
          <div class="text-sm">Технический директор</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="consult-content">
        <h2 class="title-xl">Очистим ваши стоки до требуемых норм</h2>
        <div class="text-lg">Оставьте заявку на сайте, наш менеджер свяжется с вами в течение 15 минут и пришлет план работ с точными сроками</div>
        <form action="#" class="form">
          <label class="label">
            <p>Ваше имя</p>
            <input type="text" class="input" placeholder="Александр" />
          </label>
          <label class="label">
            <p>Телефон</p>
            <input type="tel" class="input masked" placeholder="+7 (000) 000-00-00" />
          </label>
          <button class="btn btn-fluid btn-white btn-icon"><p>Позвонить</p></button>
          <label class="checkbox checkbox-white checkbox-margin">
            <input type="checkbox" checked required>
            <p>Согласие с <a href="#">политикой обработки данных</a></p>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}