{% extends 'components/_layout.html' %}
{% set site_title = 'Наши решения' %}
{% set home = true %}

{% block content %}

<div class="container container-lines row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<section class="catalog-header">
  <div class="container row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-fluid">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">Услуги</a></li><li><a href="#">Проектирование</a></li>
      </ul>
      <h1 class="title-xl">Наши решения</h1>
    </div>
  </div>
</section>

{% endblock %}