{% extends 'components/_layout.html' %}
{% set site_title = 'Наши решения' %}
{% set home = true %}

{% block content %}

<section class="catalog-header">
  <div class="container side row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-fluid">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li><li><a href="#">Услуги</a></li><li><a href="#">Проектирование</a></li>
      </ul>
      <h1 class="title-xl">Наши решения</h1>
    </div>
  </div>
</section>

<section class="solutions-section">
  <div class="container row">
    <div class="col">
      <div class="solutions-section__sidebar">
        <div class="solutions-section__head">
          <h2 class="title-lg">Ливневые</h2>
          <p class="text-lg">Подзаголовок у Никиты</p>
        </div>
        <ul class="solutions-section__list">
          <li>
            <a href="#">
              <b>ГЕОН-ЛОС (Н)</b>
              <p>Наземный комплекс очистных сооружений</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-ЛОС (П)</b>
              <p>Подземный комплекс очистных сооружений</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-ПНУ СБ</b>
              <p>Песконефтеуловитель с сорбционным фильтром</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-ПУ</b>
              <p>Песконефтеуловитель</p>
            </a>
          </li>
        </ul>
        <a href="#" class="btn btn-outline btn-fluid btn-icon">
          <p>Посмотреть все</p>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="solutions-section__head">
        <h2 class="title-lg">Ливневые</h2>
        <p class="text-lg">Подзаголовок у Никиты</p>
      </div>
      <div class="solutions-section__image">
        <img src="img/solutions/1-big.jpg" alt="">
        <img src="img/solutions/1-big.jpg" alt="">
        <img src="img/solutions/1-big.jpg" alt="">
        <img src="img/solutions/1-big.jpg" alt="">
        <div class="services-left__placeholder"></div>
      </div>
    </div>
  </div>
</section>

<section class="solutions-section">
  <div class="container row">
    <div class="col">
      <div class="solutions-section__sidebar">
        <div class="solutions-section__head">
          <h2 class="title-lg">Биологическая очистка</h2>
          <p class="text-lg">Подзаголовок у Никиты</p>
        </div>
        <ul class="solutions-section__list">
          <li>
            <a href="#">
              <b>Станция ГЕОН-БИО (Н)</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>Станция ГЕОН-БИО (П)</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-БДО</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-МТ</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
        </ul>
        <a href="#" class="btn btn-outline btn-fluid btn-icon">
          <p>Посмотреть все</p>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="solutions-section__head">
        <h2 class="title-lg">Биологическая очистка</h2>
        <p class="text-lg">Подзаголовок у Никиты</p>
      </div>
      <div class="solutions-section__image">
        <img src="img/solutions/2-big.jpg" alt="">
        <img src="img/solutions/2-big.jpg" alt="">
        <img src="img/solutions/2-big.jpg" alt="">
        <img src="img/solutions/2-big.jpg" alt="">
        <div class="services-left__placeholder"></div>
      </div>
    </div>
  </div>
</section>

<section class="solutions-section">
  <div class="container row">
    <div class="col">
      <div class="solutions-section__sidebar">
        <div class="solutions-section__head">
          <h2 class="title-lg">Промышленные</h2>
          <p class="text-lg">Подзаголовок у Никиты</p>
        </div>
        <ul class="solutions-section__list">
          <li>
            <a href="#">
              <b>ГЕОН-ОСП</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-УОО/УИО</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-ВПР</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-AKN</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
        </ul>
        <a href="#" class="btn btn-outline btn-fluid btn-icon">
          <p>Посмотреть все</p>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="solutions-section__head">
        <h2 class="title-lg">Промышленные</h2>
        <p class="text-lg">Подзаголовок у Никиты</p>
      </div>
      <div class="solutions-section__image">
        <img src="img/solutions/3-big.jpg" alt="">
        <img src="img/solutions/3-big.jpg" alt="">
        <img src="img/solutions/3-big.jpg" alt="">
        <img src="img/solutions/3-big.jpg" alt="">
        <div class="services-left__placeholder"></div>
      </div>
    </div>
  </div>
</section>

<section class="solutions-section">
  <div class="container row">
    <div class="col">
      <div class="solutions-section__sidebar">
        <div class="solutions-section__head">
          <h2 class="title-lg">Насосные станции</h2>
          <p class="text-lg">Подзаголовок у Никиты</p>
        </div>
        <ul class="solutions-section__list">
          <li>
            <a href="#">
              <b>ГЕОН-ВКНС</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-ГКНС</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-СП</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-ПВД</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
        </ul>
        <a href="#" class="btn btn-outline btn-fluid btn-icon">
          <p>Посмотреть все</p>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="solutions-section__head">
        <h2 class="title-lg">Насосные станции</h2>
        <p class="text-lg">Подзаголовок у Никиты</p>
      </div>
      <div class="solutions-section__image">
        <img src="img/solutions/4-big.jpg" alt="">
        <img src="img/solutions/4-big.jpg" alt="">
        <img src="img/solutions/4-big.jpg" alt="">
        <img src="img/solutions/4-big.jpg" alt="">
        <div class="services-left__placeholder"></div>
      </div>
    </div>
  </div>
</section>

<section class="solutions-section">
  <div class="container row">
    <div class="col">
      <div class="solutions-section__sidebar">
        <div class="solutions-section__head">
          <h2 class="title-lg">Емкостное оборудование</h2>
          <p class="text-lg">Подзаголовок у Никиты</p>
        </div>
        <ul class="solutions-section__list">
          <li>
            <a href="#">
              <b>ГЕОН-ЕН</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-ПР</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-ЕПВ</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>ГЕОН-ЕТ</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
        </ul>
        <a href="#" class="btn btn-outline btn-fluid btn-icon">
          <p>Посмотреть все</p>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="solutions-section__head">
        <h2 class="title-lg">Емкостное оборудование</h2>
        <p class="text-lg">Подзаголовок у Никиты</p>
      </div>
      <div class="solutions-section__image">
        <img src="img/solutions/2-big.jpg" alt="">
        <img src="img/solutions/2-big.jpg" alt="">
        <img src="img/solutions/2-big.jpg" alt="">
        <img src="img/solutions/2-big.jpg" alt="">
        <div class="services-left__placeholder"></div>
      </div>
    </div>
  </div>
</section>

<section class="solutions-section">
  <div class="container row">
    <div class="col">
      <div class="solutions-section__sidebar">
        <div class="solutions-section__head">
          <h2 class="title-lg">Дополнительное</h2>
          <p class="text-lg">Подзаголовок у Никиты</p>
        </div>
        <ul class="solutions-section__list">
          <li>
            <a href="#">
              <b>Спросить у Никиты</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>Спросить у Никиты</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>Спросить у Никиты</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
          <li>
            <a href="#">
              <b>Спросить у Никиты</b>
              <p>Подзаголовок спросить</p>
            </a>
          </li>
        </ul>
        <a href="#" class="btn btn-outline btn-fluid btn-icon">
          <p>Посмотреть все</p>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="solutions-section__head">
        <h2 class="title-lg">Дополнительное</h2>
        <p class="text-lg">Подзаголовок у Никиты</p>
      </div>
      <div class="solutions-section__image">
        <img src="img/solutions/2-big.jpg" alt="">
        <img src="img/solutions/2-big.jpg" alt="">
        <img src="img/solutions/2-big.jpg" alt="">
        <img src="img/solutions/2-big.jpg" alt="">
        <div class="services-left__placeholder"></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}